#dial .menu-button#increase-font-trigger:before
{
  background-image: url('../images/icons.basic/a_plus.svg');
}

#dial .menu-button#decrease-font-trigger:before
{
  background-image: url('../images/icons.basic/a_minus.svg');
}

#dial .menu-button#toggle-contrast-trigger:before
{
  background-image: url('../images/icons.basic/contrast.svg');
}

#dial .menu-button#reset-accessibility-trigger:before
{
  background-image: url('../images/icons.basic/reset.svg');
}

#dial .menu-button#go-up-link:before
{
  background-image: url('../images/icons.basic/arrow_up.svg');
}

#dial .menu-button#guideboard-trigger:before
{
  background-image: url('../images/icons.basic/hamburger.svg');
}

nav .menu-button#home-link:before
{
  background-image: url('../images/icons.basic/house.svg');
}

nav .menu-button#accessibility-info-link:before
{
  background-image: url('../images/icons.basic/wheelchair.svg');
}

nav .menu-button#layouts-submenu:before
{
  background-image: url('../images/icons.basic/plan.svg');
}

nav .menu-button#about-submenu:before
{
  background-image: url('../images/icons.basic/i.svg');
}

nav .menu-button#favourites-submenu:before
{
  background-image: url('../images/icons.basic/star.svg');
}

nav .menu-button#contact-link:before
{
  background-image: url('../images/icons.basic/envelope.svg');
}

#contact-info .menu-button#address-link:before
{
  background-image: url('../images/icons.basic/map.svg');
}

#contact-info .menu-button#email-action:before
{
  background-image: url('../images/icons.basic/monkey_envelope.svg');
}

#contact-info .menu-button#phone-action:before
{
  background-image: url('../images/icons.basic/phone.svg');
}

#contact-info .menu-button#fax-action:before
{
  background-image: url('../images/icons.basic/fax.svg');
}
