<div id="dial">
  <a id="increase-font-trigger" class="menu-button icon" onclick="increaseFontSize();"></a>
  <a id="decrease-font-trigger" class="menu-button icon" onclick="decreaseFontSize();"></a>
  <a id="toggle-contrast-trigger" class="menu-button icon" onclick="toggleContrast();"></a>
  <a id="reset-accessibility-trigger" class="menu-button icon" onclick="reset();"></a>
  <a id="go-up-link" class="menu-button icon" href="#top" onclick="undetachDashboard(); foldNavigation();"></a>
  <a id="guideboard-trigger" class="menu-button icon" onclick="toggleNavigation();"></a>
</div>
