<nav>
  <div class="navigation-item">
    <a id="home-link" class="menu-button icon" href="{{base_url}}/">
      <div class="content">Home</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="accessibility-info-link" class="menu-button icon" href="{{base_url}}/accessibility_info.{{code_file_extension}}">
      <div class="content">Accessibility info</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="layouts-submenu" class="menu-button icon sup" onclick="toggleSubmenu(this);">
      <div class="content">Layouts</div>
      <!-- jdncj dcnf evvi jkvrevn nviuevirnv invuiv nueiur uvijvi iieiei ieievn ivniervieru -->
    </a>
    <div class="submenu">
      <a class="menu-button sub" href="{{subpages_url}}/layouts/board/one_column.{{code_file_extension}}">
        <div class="content">One column</div>
      </a>
      <a class="menu-button sub" href="{{subpages_url}}/layouts/board/two_columns.{{code_file_extension}}">
        <div class="content">Two columns</div>
      </a>
      <a class="menu-button sub" href="{{subpages_url}}/layouts/board/three_columns.{{code_file_extension}}">
        <div class="content">Three columns</div>
      </a>
    </div>
  </div>
  <div class="navigation-item">
    <a id="about-submenu" class="menu-button icon sup" onclick="toggleSubmenu(this);">
      <div class="content">About</div>
    </a>
    <div class="submenu">
      <a class="menu-button sub" href="https://github.com/katheroine/layin">
        <div class="content">Layin repository</div>
      </a>
      <a class="menu-button sub" href="https://about.me/katheroine">
        <div class="content">Layin author</div>
      </a>
    </div>
  </div>
  <div class="navigation-item">
    <a id="favourites-submenu" class="menu-button icon sup" onclick="toggleSubmenu(this);">
      <div class="content">Favourites</div>
    </a>
    <div class="submenu">
      <a class="menu-button sub" href="https://linuxmint.com">
        <div class="content">Linux Mint</div>
      </a>
      <a class="menu-button sub" href="https://atom.io">
        <div class="content">Atom</div>
      </a>
      <a class="menu-button sub" href="https://git-scm.com">
        <div class="content">Git</div>
      </a>
      <a class="menu-button sub" href="https://github.com/">
        <div class="content">GitHub</div>
      </a>
    </div>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <!-- <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact * </div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact * </div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact *</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact *</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">Contact *</div>
    </a>
  </div>
  <div class="navigation-item">
    <a id="contact-link" class="menu-button icon" href="#contact-info" onclick="foldNavigation();">
      <div class="content">EOL</div>
    </a>
  </div> -->
</nav>
