<nav>
  {% for link in navigation_links %}
  <div class="navigation-item">
    <a id="{{link.css_id}}" class="menu-button icon {{link.submenu ? 'sup'}}"
    {% if link.submenu %}
    onclick="toggleSubmenu(this);"
    {% else %}
    href=" {{link.url_part ? base_url~'/'~link.url_part : link.url}}"
    {% endif %}>
      <div class="content">{{link.title}}</div>
    </a>
    {% if link.submenu %}
    <div class="submenu">
      {% for sublink in link.submenu %}
      <a class="menu-button sub" href=" {{sublink.url_part ? subpages_url~'/'~sublink.url_part : sublink.url}}">
        <div class="content">{{sublink.title}}</div>
      </a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</nav>
