:root
{
  --body-background-color: var(--dark-blue);
  --banner-background-color: var(--dark-blue);
  --banner-text-color: var(--white);
  --controls-background-color: var(--dark-violet);
  --controls-text-color: var(--white);
  --controls-backlight-color: var(--light-violet);
  --navigation-background-color: var(--dark-violet);
  --navigation-text-color: var(--white);
  --navigation-backlight-color: var(--light-violet);
  --navigation-button-separator-color: var(--light-violet);
  --board-background-color: var(--white);
  --board-text-color: var(--dark-blue);
}
