@media only screen and (min-width: 0px) {
  #board
  {
    font-size: 16px;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img
  {
    margin-bottom: 10px;
  }

  p
  {
    font-size: 100%
  }

  h1
  {
    font-size: 190%;
  }

  h2
  {
    font-size: 160%;
  }

  h3
  {
    font-size: 140%
  }

  h4
  {
    font-size: 120%;
  }

  h5
  {
    font-size: 110%
  }

  h6
  {
    font-size: 100%;
  }

  #demo img,
  #promo img
  {
    max-width: 300px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 640px) {
  main
  {
    font-size: 18px;
  }

  #promo,
  #demo
  {
    font-size: 16px;
  }

  #promo img,
  #demo img
  {
    max-width: 200px;
    max-height: 400px;
  }

  #promo img
  {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1024px) {
  main
  {
    font-size: 20px;
  }

  #promo,
  #demo
  {
    font-size: 18px;
  }

  #promo img,
  #demo img
  {
    margin-left: auto;
    max-width: 400px;
    max-height: 800px;
  }
}
