#banner
{
  background-color: green;
}

#signboard
{
  background-color: lime;
}

#logo
{
  background-color: navy;
}

#site-name
{
  background-color: purple;
}

#site-description
{
  background-color: magenta;
}
