:root
{
  /* layout */
  --max-width: 1400px;
  --vertical-hem: 5%;
  --width: 90%; /* 100 - 2*5 */
  --cover-area-height: var(--banner-height);

  /* font */
  --font-family: liberation-sans-regular, 'Verdana', sans-serif;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  background-size: var(--body-background-size);
  background-image: url('../img/layin-cover.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-color: var(--body-background-color);
}

.scaffold
{
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

header
{
  background-color: transparent;
}

#banner
{
  /*
  Setting height is important
  to not allow text
  to enlarge banner height.
  */
  height: var(--banner-height);
  margin-bottom: var(--cover-area-height);
  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
}

#signboard
{
  display: flex;
}

#logo
{
  /*
  When #logo max-height is 0,
  the property that determines the height of the whole banner/header
  is #site-name font-size and vertical paddings/margins.
  */
  max-height: 0;
  text-align: left;
}

#site-name
{
  margin-left: var(--site-name-padding);
  padding: var(--site-name-padding) 0;
  font-size: var(--site-name-font-size);
  text-align: left;
}

#site-description
{
  font-size: var(--site-description-font-size);
}

#logo img
{
  position: relative;
  top: var(--site-name-padding);
  height: var(--logo-height);
}

#dashboard
{
  color: var(--controls-text-color);
}

#controls
{
  position: static;
  background-color: var(--controls-background-color);
  opacity: 70%;
}

#controls.detached
{
  position: fixed;
  top: 0;
  width: 100%;
}

#dial
{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.submenu
{
  display: none;
}

.menu-button
{
  display: flex;
  align-items: center;
  /*
  Setting height is important
  to not allow text
  to enlarge button height.
  */
  height: var(--menu-button-icon-size);
  padding: var(--menu-button-minor-padding);
  color: var(--controls-text-color);
  font-size: var(--menu-button-font-size);
  text-decoration: none;
}

.menu-button.icon:before
{
  width: var(--menu-button-icon-size);
  height: var(--menu-button-icon-size);
  background-size: var(--menu-button-icon-size);
  background-repeat: no-repeat;
  content: "";
}

.menu-button.icon .value
{
  margin-left: var(--menu-button-minor-padding);
}

#drawer .menu-button
{
  padding-left: var(--menu-button-major-padding);
  padding-right: var(--menu-button-major-padding);
}

#dial a.go-up
{
  display: none;
}

.detached #dial a.go-up
{
  display: flex;
}

#dial a.menu-button:hover
{
  background-color: var(--controls-backlight-color);
}

#drawer a.menu-button:hover
{
  background-color: var(--guideboard-backlight-color);
}

#dial a.increase-font:before
{
  background-image: url('../img/icons/a_plus.svg');
}

#dial a.decrease-font:before
{
  background-image: url('../img/icons/a_minus.svg');
}

#dial a.toggle-contrast:before
{
  background-image: url('../img/icons/contrast.svg');
}

#dial a.reset-accessibility:before
{
  background-image: url('../img/icons/reset.svg');
}

#dial a.go-up:before
{
  background-image: url('../img/icons/arrow_up.svg');
}

#dial a#menu-trigger:before
{
  background-image: url('../img/icons/hamburger.svg');
}

#guideboard a.home:before
{
  background-image: url('../img/icons/house.svg');
}

#guideboard a.accessibility-info:before
{
  background-image: url('../img/icons/wheelchair.svg');
}

#guideboard a.favourites:before
{
  background-image: url('../img/icons/star.svg');
}

#board
{
  overflow: auto;
  padding-top: 0;
  background-color: var(--board-background-color);
  color: var(--board-text-color);
  font-size: 200%;
}

#board.detached
{
  padding-top: var(--detached-offset);
}

main article
{
  padding: 10vw 0;
}
