:root
{
  /* layout */
  --banner-height: 18vw; /* 2*5 + 8 */

  --body-background-size: 130%;
  --logo-height: 26vw; /* 2*(5 + 8) */
  --site-name-hem: 5vw;

  --site-name-font-size: 7vw;
  --site-description-font-size: 3vw;

  --detached-offset: 40px;

  --board-horizontal-hem: 50px;

  --info-horizontal-hem: 0px;

  /* font */
  font-size: 12px;

  /* details */
  --menu-button-minor-hem: 8px;
  --menu-button-major-hem: var(--vertical-hem);
  --menu-button-font-size: 150%;
  --menu-button-icon-size: 24px;
  --contact-info-item-major-hem: 6px;
  --contact-info-item-font-size: 110%;
}

#signboard,
#dial,
main,
#demo,
#promo
{
  padding-left: var(--vertical-hem);
  padding-right: var(--vertical-hem);
}

#guideboard
{
  position: relative;
}

#drawer
{
  position: relative;
}

nav
{
  display: none;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  background-color: var(--guideboard-background-color);
}

.detached nav
{
  position: fixed;
  top: var(--detached-offset);
}

nav.active
{
  display: block;
}

nav .menu-button,
#contact-info .menu-button
{
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

nav .menu-button
{
  border-bottom-color: var(--guideboard-button-separator-color);
}

nav .submenu .menu-button
{
  border-bottom-color: var(--guideboard-submenu-button-separator-color);
}

#board.detached
{
  margin-top: var(--detached-offset);
}

#liner
{
  flex-direction: column;
  row-gap: var(--board-horizontal-hem);
  padding-top: var(--board-horizontal-hem);
  padding-bottom: var(--board-horizontal-hem);
}

#liner.three-columns main
{
  order: 1;
}

#liner.three-columns #demo
{
  order: 2;
}

#liner.three-columns #promo
{
  order: 3;
}

#demo img,
#promo img
{
  margin-left: auto;
  margin-right: auto;
}

#contact-info .menu-button
{
  border-bottom-color: var(--info-button-separator-color);
}
