:root
{
  /* layout */
  --max-width: 1400px;
  --vertical-hem: 5%;
  --width: 90%; /* 100 - 2*5 */
  --cover-area-height: var(--banner-height);

  /* font */
  --font-family: liberation-sans-regular, 'Verdana', sans-serif;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  background-size: var(--body-background-size);
  background-image: url('../img/layin-cover.jpeg');
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  background-color: var(--body-background-color);
}

.scaffold
{
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

header
{
  /*
  Prevents from collapsing
  of #banner and #board margins.
  */
  overflow: hidden;
  background-color: transparent;
}

#banner
{
  /*
  Setting height is important
  to not allow text
  to enlarge banner height.
  */
  height: var(--banner-height);
  /*
  Margin bottom must be placed here
  to allow prevent of collapsing
  with #board top margin
  added on #dashboard detachment.
  */
  margin-bottom: var(--cover-area-height);
  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
}

#signboard
{
  display: flex;
}

#logo
{
  /*
  When #logo max-height is 0,
  the property that determines the height of the whole banner/header
  is #site-name font-size and horizontal paddings/margins.
  */
  max-height: 0;
  text-align: left;
}

#site-name
{
  margin-left: var(--site-name-hem);
  padding: var(--site-name-hem) 0;
  font-size: var(--site-name-font-size);
  text-align: left;
}

#site-description
{
  font-size: var(--site-description-font-size);
}

#logo img
{
  position: relative;
  top: var(--site-name-hem);
  height: var(--logo-height);
}

#controls
{
  position: static;
  background-color: var(--controls-background-color);
  opacity: 70%;
}

#controls.detached
{
  position: fixed;
  top: 0;
  width: 100%;
}

#dial
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav .submenu
{
  display: none;
  background-color: var(--guideboard-submenu-background-color);
  color: var(--quideboard-submenu-text-color);
}

nav .submenu.active
{
  display: block;
}

.menu-button
{
  display: flex;
  flex-wrap: nowrap; /* unnecessary, default */
  justify-content: space-between;
  align-items: center; /* vertically */
  /*
  Setting height is important
  to not allow text
  to enlarge button height.
  */
  /* height: var(--menu-button-icon-size); */
  padding-top: var(--menu-button-minor-hem);
  padding-bottom: var(--menu-button-minor-hem);
  font-size: var(--menu-button-font-size);
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#dial .menu-button
{
  color: var(--controls-text-color);
}

nav .menu-button,
#contact-info .menu-button
{
  padding-left: var(--menu-button-major-hem);
  padding-right: var(--menu-button-major-hem);
}

nav .menu-button
{
  color: var(--guideboard-text-color);
}

nav .submenu .menu-button
{
  color: var(--guideboard-submenu-text-color);
}

nav .submenu .menu-button:hover
{
  background-color: var(--guideboard-submenu-backlight-color);
}

.menu-button.icon:before,
.menu-button.sup:after
{
  flex-shrink: 0;
  width: var(--menu-button-icon-size);
  height: var(--menu-button-icon-size);
  margin-left: var(--menu-button-minor-hem);
  margin-right: var(--menu-button-minor-hem);
  background-size: var(--menu-button-icon-size);
  background-repeat: no-repeat;
  content: "";
}

.menu-button.icon .content
{
  flex-grow: 1;
}

.menu-button .content
{
  margin-left: var(--menu-button-minor-hem);
  margin-right: var(--menu-button-minor-hem);
}

.menu-button.icon .content
{
  margin-left: 0;
  margin-right: var(--menu-button-minor-hem);
}

.menu-button.sup .content
{
  margin-left: var(--menu-button-minor-hem);
  margin-right: 0;
}

.menu-button.icon.sup .content
{
  margin-left: 0;
  margin-right: 0;
}

.menu-button .value
{
  font-weight: bold;
}

#dial .menu-button#go-up-link
{
  display: none;
}

.detached #dial .menu-button#go-up-link
{
  display: flex;
}

#dial .menu-button#increase-font-trigger:before
{
  background-image: url('../img/icons/a_plus.svg');
}

#dial .menu-button#decrease-font-trigger:before
{
  background-image: url('../img/icons/a_minus.svg');
}

#dial .menu-button#toggle-contrast-trigger:before
{
  background-image: url('../img/icons/contrast.svg');
}

#dial .menu-button#reset-accessibility-trigger:before
{
  background-image: url('../img/icons/reset.svg');
}

#dial .menu-button#go-up-link:before
{
  background-image: url('../img/icons/arrow_up.svg');
}

#dial .menu-button#guideboard-trigger:before
{
  background-image: url('../img/icons/hamburger.svg');
}

#drawer .menu-button#home-link:before
{
  background-image: url('../img/icons/house.svg');
}

#drawer .menu-button#accessibility-info-link:before
{
  background-image: url('../img/icons/wheelchair.svg');
}

#drawer .menu-button#layouts-submenu:before
{
  background-image: url('../img/icons/plan.svg');
}

#drawer .menu-button#about-submenu:before
{
  background-image: url('../img/icons/i.svg');
}

#drawer .menu-button#favourites-submenu:before
{
  background-image: url('../img/icons/star.svg');
}

#drawer .menu-button#contact-link:before
{
  background-image: url('../img/icons/envelope.svg');
}

#drawer .menu-button.sup:after
{
  background-image: url('../img/icons/triangle_down.svg');
}

#drawer .menu-button.sup.active:after
{
  background-image: url('../img/icons/triangle_up.svg');
}

#board
{
  background-color: var(--board-background-color);
  color: var(--board-text-color);
  font-size: 200%;
}

#liner
{
  display: flex;
}

#demo img,
#promo img
{
  display: block;
  width: 100%;
  max-width: 400px;
}

footer
{
  background-color: var(--info-background-color);
}

#info
{
  padding-top: var(--info-horizontal-hem);
  padding-bottom: var(--info-horizontal-hem);
  color: var(--info-text-color);
}

#contact-info .menu-button
{
  padding-top: var(--contact-info-item-major-hem);
  padding-bottom: var(--contact-info-item-major-hem);
  font-size: var(--contact-info-item-font-size);
  color: var(--info-text-color);
}

#contact-info .menu-button#address-link:before
{
  background-image: url('../img/icons/map.svg');
}

#contact-info .menu-button#email-action:before
{
  background-image: url('../img/icons/monkey_envelope.svg');
}

#contact-info .menu-button#phone-action:before
{
  background-image: url('../img/icons/phone.svg');
}

#contact-info .menu-button#fax-action:before
{
  background-image: url('../img/icons/fax.svg');
}

#copyright
{
  padding: 7px var(--vertical-hem);
  background-color: var(--copyright-background-color);
  color: var(--copyright-font-color);
  font-size: 90%;
  text-align: center;
}
