:root
{
  /* layout */
  --max-width: 1400px;
  --vertical-hem: 5%;
  --width: 90%; /* 100 - 2*5 */
  --cover-area-height: var(--banner-height);

  /* font */
  --font-family: liberation-sans-regular, 'Verdana', sans-serif;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  background-size: var(--body-background-size);
  background-image: url('../img/layin-cover.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-color: var(--body-background-color);
}

.scaffold
{
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

header
{
  margin-bottom: var(--cover-area-height);
  background-color: transparent;
}

#banner
{
  /*
  Setting height is important
  to not allow text
  to enlarge banner height.
  */
  height: var(--banner-height);

  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
}

#signboard
{
  display: flex;
}

#logo
{
  /*
  When #logo max-height is 0,
  the property that determines the height of the whole banner/header
  is #site-name font-size and vertical paddings/margins.
  */
  max-height: 0;
  text-align: left;
}

#site-name
{
  margin-left: var(--site-name-padding);
  padding: var(--site-name-padding) 0;
  font-size: var(--site-name-font-size);
  text-align: left;
}

#site-description
{
  font-size: var(--site-description-font-size);
}

#logo img
{
  position: relative;
  top: var(--site-name-padding);
  height: var(--logo-height);
}

#controls
{
  position: static;
  background-color: var(--controls-background-color);
  opacity: 70%;
}

#controls.detached
{
  position: fixed;
  top: 0;
  width: 100%;
}

#dial
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#guideboard .submenu
{
  display: none;
  background-color: var(--guideboard-submenu-background-color);
  color: var(--quideboard-submenu-text-color);
}

#guideboard .submenu.active
{
  display: block;
}

.menu-button
{
  display: flex;
  justify-content: space-between;
  /*
  Setting height is important
  to not allow text
  to enlarge button height.
  */
  height: var(--menu-button-icon-size);
  padding-top: var(--menu-button-minor-hem);
  padding-bottom: var(--menu-button-minor-hem);
  font-size: var(--menu-button-font-size);
  text-decoration: none;
}

#controls .menu-button
{
  color: var(--controls-text-color);
}

#guideboard .menu-button
{
  padding-left: var(--menu-button-major-hem);
  padding-right: var(--menu-button-major-hem);
  color: var(--guideboard-text-color);
}

#guideboard .submenu .menu-button
{
  color: var(--guideboard-submenu-text-color);
}

.menu-button.icon:before,
.menu-button.sup:after
{
  width: var(--menu-button-icon-size);
  height: var(--menu-button-icon-size);
  margin-left: var(--menu-button-minor-hem);
  margin-right: var(--menu-button-minor-hem);
  background-size: var(--menu-button-icon-size);
  background-repeat: no-repeat;
  content: "";
}

.menu-button.icon .value
{
  flex-grow: 1;
}

.menu-button .value
{
  margin-left: var(--menu-button-minor-hem);
  margin-right: var(--menu-button-minor-hem);
}

.menu-button.icon .value
{
  margin-left: 0;
  margin-right: var(--menu-button-minor-hem);
}

.menu-button.sup .value
{
  margin-left: var(--menu-button-minor-hem);
  margin-right: 0;
}

.menu-button.icon.sup .value
{
  margin-left: 0;
  margin-right: 0;
}

#controls .menu-button:hover
{
  background-color: var(--controls-backlight-color);
}

#guideboard .menu-button:hover
{
  background-color: var(--guideboard-backlight-color);
}

#guideboard .submenu .menu-button:hover
{
  background-color: var(--guideboard-submenu-backlight-color);
}

#controls .menu-button#go-up-link
{
  display: none;
}

#controls.detached .menu-button#go-up-link
{
  display: flex;
}

#controls .menu-button#increase-font-trigger:before
{
  background-image: url('../img/icons/a_plus.svg');
}

#controls .menu-button#decrease-font-trigger:before
{
  background-image: url('../img/icons/a_minus.svg');
}

#controls .menu-button#toggle-contrast-trigger:before
{
  background-image: url('../img/icons/contrast.svg');
}

#controls .menu-button#reset-accessibility-trigger:before
{
  background-image: url('../img/icons/reset.svg');
}

#controls .menu-button#go-up-link:before
{
  background-image: url('../img/icons/arrow_up.svg');
}

#controls .menu-button#guideboard-trigger:before
{
  background-image: url('../img/icons/hamburger.svg');
}

#guideboard .menu-button#home-link:before
{
  background-image: url('../img/icons/house.svg');
}

#guideboard .menu-button#accessibility-info-link:before
{
  background-image: url('../img/icons/wheelchair.svg');
}

#guideboard .menu-button#about-submenu:before
{
  background-image: url('../img/icons/i.svg');
}

#guideboard .menu-button#favourites-submenu:before
{
  background-image: url('../img/icons/star.svg');
}

#guideboard .menu-button.sup:after
{
  background-image: url('../img/icons/triangle_down.svg');
}

#guideboard .menu-button.sup.active:after
{
  background-image: url('../img/icons/triangle_up.svg');
}

#board
{
  overflow: auto;
  color: var(--board-text-color);
  font-size: 200%;
}

#liner
{
  background-color: var(--board-background-color);
}

main article
{
  padding: 10vw 0;
}
