:root
{
  /* layout */
  --cover-area-height: 168px; /* 2*42 + 84 */

  --body-background-size: 100%;
  --logo-height: 252px; /* 2*(42 + 84) */
  --banner-site-name-padding: 42px;

  --site-name-font-size: 84px;
  --site-description-font-size: 26px;

  --detached-offset: 48px;

  /* font */
  font-size: 16px;

  /* details */
  --menu-button-padding: 10px;
  --menu-button-font-size: 26px;
  --menu-button-icon-size: 28px;
}

#dial a#menu-trigger
{
  display: none;
}
