:root
{
  /* layout */
  --banner-height: 15vw; /* 2*4 + 7 */

  --body-background-size: 115%;
  --logo-height: 22vw; /* 2*(4 + 7) */
  --site-name-hem: 4vw;

  --site-name-font-size: 6vw;
  --site-description-font-size: 2vw;

  --detached-offset: 46px;

  --board-horizontal-hem: 70px;

  --info-horizontal-hem: 30px;

  /* font */
  font-size: 14px;

  /* details */
  --menu-button-minor-hem: 10px;
  --menu-button-major-hem: 0;
  --menu-button-font-size: 120%;
  --menu-button-icon-size: 26px;
  --contact-info-item-major-hem: 8px;
}

#drawer
{
  width: var(--width);
  padding: 0 var(--vertical-hem);
}

nav
{
  width: var(--width);
}

.detached nav
{
  width: var(--width);
}

#promo img
{
  margin-left: 0;
}

#info
{
  padding-left: var(--vertical-hem);
  padding-right: var(--vertical-hem);
}
