:root
{
  /* layout */
  --banner-height: 168px; /* 2*42 + 84 */

  --body-background-size: 100%;
  --logo-height: 252px; /* 2*(42 + 84) */
  --site-name-hem: 42px;

  --site-name-font-size: 80px;
  --site-description-font-size: 26px;

  --detached-offset: 46px;

  --info-horizontal-hem: 50px;

  /* font */
  font-size: 16px;

  /* details */
  --menu-button-minor-hem: 10px;
  --menu-button-major-hem: 0;
  --menu-button-font-size: 120%;
  --menu-button-icon-size: 26px;
  --contact-info-item-major-hem: 8px;
}

#drawer
{
  padding-left: var(--vertical-hem);
  padding-right: var(--vertical-hem);
}

#dial .menu-button:hover
{
  background-color: var(--controls-backlight-color);
}

#dial .menu-button#guideboard-trigger
{
  display: none;
}

#guideboard
{
  display: block;
  position: relative;
  background-color: var(--guideboard-background-color);
}

nav,
/*
This is necessary to prevent
stucking nav styles in lower screen sizes versions
when navigation is active (visible)
and screen is resizing.
*/
nav.active
{
  position: static;
  display: flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.detached nav
{
  position: fixed;
  top: 0;
  width: auto;
  max-width: 678px;
  overflow: visible;
}

nav .submenu
{
  position: absolute;
  width: 300px;
}

nav .menu-button,
#contact-info .menu-button
{
  border-bottom: 0;
}

nav .menu-button:hover
{
  background-color: var(--guideboard-backlight-color);
}

nav .menu-button.active
{
  background-color: var(--guideboard-submenu-background-color);
}

.detached nav .menu-button.icon .content,
.detached nav .menu-button.sup:after
{
  display: none;
}

.detached nav .menu-button.sup
{
  background-size: 46px;
  background-image: url('../img/icons/little_triangle_down.svg');
  background-repeat: no-repeat;
}

.detached nav .menu-button.sup.active
{
  background-image: url('../img/icons/little_triangle_up.svg');
}

#board.detached
{
  margin-top: var(--detached-offset); /* for smoothly scrolling */
  padding-top: var(--detached-offset); /* for replacing moved up navigation */
}

#contact-info
{
  max-width: 500px;
}

#contact-info .menu-button:hover
{
  background-color: var(--info-backlight-color);
}
