:root
{
  /* layout */
  --cover-area-height: 15vw; /* 2*4 + 7 */

  --body-background-size: 115%;
  --logo-height: 22vw; /* 2*(4 + 7) */
  --banner-site-name-padding: 4vw;

  --site-name-font-size: 7vw;
  --site-description-font-size: 2vw;

  --detached-offset: 42px;

  /* font */
  font-size: 14px;

  /* details */
  --menu-button-padding: 8px;
  --menu-button-font-size: 24px;
  --menu-button-icon-size: 26px;
}
