:root
{
  /* layout */
  --max-width: 1400px;
  --vertical-hem: 5vw;
  --width: 90vw; /* 100 - 2*5 */

  /* font */
  --font-family: liberation-sans-regular, 'Verdana', sans-serif;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  background-image: url('../img/layin-cover.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.scaffold
{
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--vertical-hem);
  padding-right: var(--vertical-hem);
}

header
{
  background-color: transparent;
}

#banner
{
  margin-bottom: var(--cover-area-height);
  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
}

#signboard
{
  display: flex;
}

#logo
{
  /*
  When #logo max-height is 0,
  the property that determines the height of the whole banner/header
  is #site-name font-size and vertical paddings/margins.
  */
  max-height: 0;
  text-align: left;
}

#site-name
{
  text-align: left;
}

#logo img
{
  position: relative;
}

main
{
  overflow: auto;
  background-color: var(--main-background-color);
  color: var(--dark-blue);
  font-size: 200%;
}

main article
{
  padding: 10vw 0;
}
