:root
{
  /* layout */
  --cover-area-height: 19vw; /* 2*5 + 9 */
  --detached-offset: 36px;

  /* font */
  font-size: 12px;

  /* details */
  --menu-button-padding: 6px;
  --menu-button-font-size: 22px;
  --menu-button-icon-size: 24px;
}

body
{
  background-size: 130%;
}

#site-name
{
  margin-left: 5vw;
  padding: 5vw 0;
  font-size: 8vw;
}

#site-description
{
  font-size: 2.5vw;
}

#logo img
{
  top: 5vw;
  height: 28vw; /* 2*(5 + 9) */
}
