:root
{
  /* layout */
  --vertical-hem: 5%;
  --width: 90%; /* 100 - 2*5 */

  --cover-area-height: 168px; /* 2*42 + 84 */

  /* font */
  font-size: 18px;
}

body
{
  background-size: 100%;
}

#logo
{
  width: 32%;
}

#site-name
{
  width: 68%; /* 100% - 32% */
  padding: 42px 0;
  font-size: 84px;
}

#site-description
{
  font-size: 26px;
}

#logo img
{
  top: 42px;
  height: 252px; /* 2*(42 + 84) */
}
