:root
{
  /* layout */
  --banner-height: 18vw; /* 2*5 + 8 */

  --body-background-size: 130%;
  --logo-height: 26vw; /* 2*(5 + 8) */
  --banner-site-name-padding: 5vw;

  --site-name-font-size: 7vw;
  --site-description-font-size: 3vw;

  --detached-offset: 36px;

  /* font */
  font-size: 12px;

  /* details */
  --menu-button-padding: 6px;
  --menu-button-font-size: 22px;
  --menu-button-icon-size: 24px;
}
