:root
{
  /* layout */
  --max-width: 1400px;
  --vertical-hem: 5vw;
  --width: 90vw; /* 100 - 2*5 */

  /* font */
  --font-family: liberation-sans-regular, 'Verdana', sans-serif;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  background-size: var(--body-background-size);
  background-image: url('../img/layin-cover.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-color: var(--body-background-color);
}

.scaffold
{
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--vertical-hem);
  padding-right: var(--vertical-hem);
}

header
{
  background-color: transparent;
}

#banner
{
  margin-bottom: var(--cover-area-height);
  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
}

#signboard
{
  display: flex;
}

#logo
{
  /*
  When #logo max-height is 0,
  the property that determines the height of the whole banner/header
  is #site-name font-size and vertical paddings/margins.
  */
  max-height: 0;
  text-align: left;
}

#site-name
{
  margin-left: var(--banner-site-name-padding);
  padding: var(--banner-site-name-padding) 0;
  font-size: var(--site-name-font-size);
  text-align: left;
}

#site-description
{
  font-size: var(--site-description-font-size);
}

#logo img
{
  position: relative;
  top: var(--banner-site-name-padding);
  height: var(--logo-height);
}

nav
{
  color: var(--navigation-text-color);
}

#controls
{
  position: relative;
  background-color: var(--navigation-background-color);
  opacity: 90%;
}

#controls.detached
{
  position: fixed;
  top: 0;
  width: 100%;
}

#dial
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
}

.menu-button
{
  display: inline-block;
  /*
  Setting height is important
  to not allow text
  to enlarge button height.
  */
  height: var(--menu-button-icon-size);
  padding: var(--menu-button-padding);
  color: var(--navigation-text-color);
  font-size: var(--menu-button-font-size);
  text-decoration: none;
}

#dial a.menu-button.icon:before
{
  display: inline-block;
  width: var(--menu-button-icon-size);
  height: var(--menu-button-icon-size);
  background-size: var(--menu-button-icon-size);
  background-repeat: no-repeat;
  content: "";
}

#dial a.go-back,
#dial a.go-forward,
#dial a.go-up
{
  display: none;
}

#dial a.go-back.active,
#dial a.go-forward.active
{
  display: inline-block !important;
}

.detached #dial a.go-up
{
  display: inline-block;
}

#dial a.menu-button:hover
{
  background-color: var(--navigation-backlight-color);
}

#dial a.accessibility-info:before
{
  background-image: url('../img/icons/wheelchair.svg');
}

#dial a.increase-font:before
{
  background-image: url('../img/icons/a_plus.svg');
}

#dial a.decrease-font:before
{
  background-image: url('../img/icons/a_minus.svg');
}

#dial a.toggle-contrast:before
{
  background-image: url('../img/icons/contrast.svg');
}

#dial a.reset-accessibility:before
{
  background-image: url('../img/icons/reset.svg');
}

#dial a.go-back:before
{
  background-image: url('../img/icons/arrow_left.svg');
}

#dial a.go-forward:before
{
  background-image: url('../img/icons/arrow_right.svg');
}

#dial a.go-up:before
{
  background-image: url('../img/icons/arrow_up.svg');
}

#dial a#menu-trigger:before
{
  background-image: url('../img/icons/hamburger.svg');
}

main
{
  overflow: auto;
  padding-top: 0;
  background-color: var(--main-background-color);
  color: var(--dark-blue);
  font-size: 200%;
}

main.detached
{
  padding-top: var(--detached-offset);
}

main article
{
  padding: 10vw 0;
}
