:root
{
  /* layout */
  --cover-area-height: 16vw; /* 2*4 + 8 */
  --detached-offset: 42px;

  /* font */
  font-size: 14px;

  /* details */
  --menu-button-padding: 8px;
  --menu-button-font-size: 24px;
  --menu-button-icon-size: 26px;
}

body
{
  background-size: 115%;
}

#site-name
{
  margin-left: 4vw;
  padding: 4vw 0;
  font-size: 7vw;
}

#site-description
{
  font-size: 2vw;
}

#logo img
{
  top: 4vw;
  height: 24vw; /* 2*(4 + 8) */
}
