:root
{
  /* layout */
  --horizontal-hem: 24px;
  --vertical-hem: 8%;
  --width: 84%; /* 100 - 2*8 */

  --cover-area-height: 140px;

  /* font */
  font-size: 14px;
}

body
{
  background-size: 130%;
}

#logo
{
  width: 34%;
}

#site_name
{
  width: 64%; /* 100% - 34% - 2*1% */
  padding: 20px 1%;
  font-size: 8vw;
}

#site_description
{
  font-size: 2.5vw;
}

#logo img
{
  top: 20px;
  width: 75%;
  max-width: 210px;
}
