<div id="controls">
  <div id="dial" class="scaffold">
    <!-- <a class="menu-button" href="">Hello</a> -->
    <a class="accessibility-info menu-button icon"></a>
    <a class="increase-font menu-button icon"></a>
    <a class="decrease-font menu-button icon"></a>
    <a class="toggle-contrast menu-button icon"></a>
    <a class="reset-accessibility menu-button icon"></a>
    <a class="go-back menu-button icon" onclick="goBack();"></a>
    <a class="go-forward menu-button icon" onclick="goForward();"></a>
    <a class="go-up menu-button icon" href="#top"></a>
    <a id="menu-trigger" class="menu-button icon"></a>
  </div>
</div>
