<div id="info" class="scaffold">
  <address id="contact-info">
    <a class="menu-button icon" id="address-link" href="https://goo.gl/maps/T84vfoTp8Rdbh6V28">
      <div class="content">address: <span class="value">al. Wojciecha Korfantego 35, <span style="white-space: nowrap;">40-005</span> Katowice</span></div>
    </a>
    <a class="menu-button icon" id="email-action" href="mailto:laying@gmail.com">
      <div class="content">e-mail: <span class="value">layin@gmail.com</span></div>
    </a>
    <a class="menu-button icon" id="phone-action" href="tel:+4832000000">
      <div class="content">tel.: <span class="value">(32) 000 00 00</span></div>
    </a>
    <a class="menu-button icon" id="fax-action" href="fax:+48320000000">
      <div class="content">fax.: <span class="value">(32) 000 00 00</span></div>
    </a>
  </address>
</div>
<div id="copyright">
  ©&nbsp;2022 Copyright Layin
</div>
