<div id="controls">
  <div id="dial" class="scaffold">
    <a class="accessibility-info menu-button"></a>
    <a class="increase-font menu-button" onclick="increaseFont();"></a>
    <a class="decrease-font menu-button" onclick="decreaseFont();"></a>
    <a class="toggle-contrast menu-button" onclick="toggleContrast();"></a>
    <a class="reset-accessibility menu-button" onclick="reset();"></a>
    <a class="go-back menu-button" onclick="goBack();"></a>
    <a class="go-up menu-button" href="#top" onclick="foldMenu();"></a>
    <a id="menu-trigger" class="menu-button" onclick="toggleMenu();"></a>
  </div>
</div>
