<div id="controls">
  <div id="dial" class="scaffold">
    <!-- <a class="menu-button" href="">Hello</a> -->
    <a class="accessibility-info menu-button super"></a>
    <a class="increase-font menu-button super" onclick="increaseFont();"></a>
    <a class="decrease-font menu-button super" onclick="decreaseFont();"></a>
    <a class="toggle-contrast menu-button super" onclick="toggleContrast();"></a>
    <a class="reset-accessibility menu-button super" onclick="reset();"></a>
    <a class="go-back menu-button super" onclick="goBack();"></a>
    <a class="go-up menu-button super" href="#top" onclick="foldMenu();"></a>
    <a id="menu-trigger" class="menu-button super" onclick="toggleMenu();"></a>
  </div>
</div>
