<div id="liner" class="demo-layouts one-column">
    <main>
      <article>
        <section class="intro special">
          <h1>Header level one</h1>
          <p>
            An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
            Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
          </p>
          <p>
            Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
            Praesent sodales velit quis augue.
            Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
          </p>
        </section>
        <h1>Header level one</h1>
        <section class="intro">
          <p>
            An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
            Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
          </p>
          <p>
            Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
            Praesent sodales velit quis augue.
            Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
          </p>
        </section>
        <section class="intro special">
          <p>
            An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
            Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
          </p>
          <p>
            Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
            Praesent sodales velit quis augue.
            Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
          </p>
        </section>
        <section class="intro">
          <p>
            An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          </p>
          <p class="special">
            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
            Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
          </p>
          <p>
            Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
            Praesent sodales velit quis augue.
            Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
          </p>
        </section>
        <section>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
            Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
          </p>
          <p>
            Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
            Praesent sodales velit quis augue.
            Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
          </p>
        </section>
        <section class="special">
          <p>
            An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
            Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
          </p>
          <p>
            Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
            Praesent sodales velit quis augue.
            Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
          </p>
        </section>
        <section>
          <p>
            An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          </p>
          <p class="special">
            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
            Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
          </p>
          <blockquote cite="https://en.wikipedia.org/wiki/Lorem_ipsum">
            A blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          </blockquote>
          <blockquote cite="https://en.wikipedia.org/wiki/Lorem_ipsum" class="special">
            A blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          </blockquote>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          </p>
          <address>
            Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
            Visit us at:<br>
            Example.com<br>
            Box 564, Disneyland<br>
            USA
          </address>
          <p>
            Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
            Praesent sodales velit quis augue.
            Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
            <details>Some details</details>
          </p>
        </section>
        <section>
          <h2>Header level two</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          </p>
          <table>
            <caption><em>Table 1.1</em> Table's caption</caption>
            <thead>
              <tr>
                <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
                <th>header second column</th>
                <th>header third column</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>footer first column</th>
                <th>footer second column</th>
                <th>footer third column</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>first row first column</td>
                <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                <td>first row third column</td>
              </tr>
              <tr>
                <td>second row first column</td>
                <td></td>
                <td>second row third column</td>
              </tr>
              <tr>
                <td>third row first column</td>
                <td>third row second column</td>
                <td>third row third column</td>
              </tr>
            </tbody>
          </table>
          <table>
            <caption><em>Table 1.1</em> Table's caption</caption>
            <thead>
              <tr>
                <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
                <th>header second column</th>
                <th>header third column</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>first row first column</td>
                <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                <td>first row third column</td>
              </tr>
              <tr>
                <td>second row first column</td>
                <td></td>
                <td>second row third column</td>
              </tr>
              <tr>
                <td>third row first column</td>
                <td>third row second column</td>
                <td>third row third column</td>
              </tr>
            </tbody>
          </table>
          <table>
            <caption><em>Table 1.2</em> Table's caption</caption>
            <tfoot>
              <tr>
                <th>footer first column</th>
                <th>footer second column</th>
                <th>footer third column</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>first row first column</td>
                <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                <td>first row third column</td>
              </tr>
              <tr>
                <td>second row first column</td>
                <td></td>
                <td>second row third column</td>
              </tr>
              <tr>
                <td>third row first column</td>
                <td>third row second column</td>
                <td>third row third column</td>
              </tr>
            </tbody>
          </table>
          <table class="special">
            <caption><em>Table 1.3</em> Table's caption</caption>
            <thead>
              <tr>
                <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
                <th>header second column</th>
                <th>header third column</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>footer first column</th>
                <th>footer second column</th>
                <th>footer third column</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>first row first column</td>
                <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                <td>first row third column</td>
              </tr>
              <tr>
                <td>second row first column</td>
                <td></td>
                <td>second row third column</td>
              </tr>
              <tr>
                <td>third row first column</td>
                <td>third row second column</td>
                <td>third row third column</td>
              </tr>
            </tbody>
          </table>
          <table class="special">
            <caption><em>Table 1.4</em> Table's caption</caption>
            <thead>
              <tr>
                <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
                <th>header second column</th>
                <th>header third column</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>first row first column</td>
                <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                <td>first row third column</td>
              </tr>
              <tr>
                <td>second row first column</td>
                <td></td>
                <td>second row third column</td>
              </tr>
              <tr>
                <td>third row first column</td>
                <td>third row second column</td>
                <td>third row third column</td>
              </tr>
            </tbody>
          </table>
          <table class="special">
            <caption><em>Table 1.5</em> Table's caption</caption>
            <tfoot>
              <tr>
                <th>footer first column</th>
                <th>footer second column</th>
                <th>footer third column</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>first row first column</td>
                <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                <td>first row third column</td>
              </tr>
              <tr>
                <td>second row first column</td>
                <td></td>
                <td>second row third column</td>
              </tr>
              <tr>
                <td>third row first column</td>
                <td>third row second column</td>
                <td>third row third column</td>
              </tr>
            </tbody>
          </table>
          <p>
            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
            Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
            Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
            Praesent sodales velit quis augue.
            Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
          </p>
          <section>
            <h3>Header level three</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
              Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
            </p>
            <ul>
              <li>first point of the list</li>
              <li>second point of the list</li>
              <li>third point of the list</li>
            </ul>
            <ol>
              <li>first point of the list</li>
              <li>second point of the list</li>
              <li>third point of the list</li>
            </ol>
            <ul class="special">
              <li>first point of the list</li>
              <li>second point of the list</li>
              <li>third point of the list</li>
            </ul>
            <ol class="special">
              <li>first point of the list</li>
              <li>second point of the list</li>
              <li>third point of the list</li>
            </ol>
            <p>
              Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
              Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
              Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
              Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
              Praesent sodales velit quis augue.
              Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
            </p>
            <dl>
              <dt>Definition one</dt>
              <dd>a statement of the meaning of a term (a word, phrase, or other set of symbols).
              Definitions can be classified into two large categories, intensional definitions
              (which try to give the sense of a term) and extensional definitions
              (which try to list the objects that a term describes).</dd>
              <dt>Definition two</dt>
              <dd>a statement of the meaning of a term (a word, phrase, or other set of symbols).
              Definitions can be classified into two large categories, intensional definitions
              (which try to give the sense of a term) and extensional definitions
              (which try to list the objects that a term describes).</dd>
              <dt>Definition three</dt>
              <dd>a statement of the meaning of a term (a word, phrase, or other set of symbols).
              Definitions can be classified into two large categories, intensional definitions
              (which try to give the sense of a term) and extensional definitions
              (which try to list the objects that a term describes).</dd>
            </dl>
            <p>
              Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
              Praesent sodales velit quis augue.
              Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
            </p>
            <section>
              <h4>Header level four</h4>
              <div class="alert">
                <strong>Alert!</strong> This is a warning. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
              </p>
              <div class="definition">
                <em>Definition</em> - a statement of the meaning of a term (a word, phrase, or other set of symbols).
                Definitions can be classified into two large categories, intensional definitions
                (which try to give the sense of a term) and extensional definitions
                (which try to list the objects that a term describes).
                Another important category of definitions is the class of ostensive definitions,
                which convey the meaning of a term by pointing out examples.
                A term may have many different senses and multiple meanings, and thus require multiple definitions.
              </div>
              <div class="definition special">
                <em>Definition</em> - a statement of the meaning of a term (a word, phrase, or other set of symbols).
                Definitions can be classified into two large categories, intensional definitions
                (which try to give the sense of a term) and extensional definitions
                (which try to list the objects that a term describes).
                Another important category of definitions is the class of ostensive definitions,
                which convey the meaning of a term by pointing out examples.
                A term may have many different senses and multiple meanings, and thus require multiple definitions.
              </div>
              <p>
                Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
              </p>
              <section>
                <h5>Header level five</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                </p>
                <div class="code">some code</div>
                <p>
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <div class="terminal">webmaster@sp22kce $ some terminal entry</div>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <pre>
  #include &lt;iostream&gt;

  int main()
  {
    std::cout &lt;&lt; "Hello world!\n";
  }
                </pre>
                <pre class="sh_cpp">
  #include &lt;iostream&gt;

  int main()
  {
    std::cout &lt;&lt; "Hello world!\n";
  }
                </pre>
                <section style="overflow: auto;">
                  <h6>Header level six</h6>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                    Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  </p>
                  <img src="../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                  <p>
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                    Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                  </p>
                  <figure>
                    <img src="../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                    <figcaption>
                      Source: <a href="https://www.pexels.com/@rpnickson">Roberto Nickson</a>
                      on <a href="pexels.com">Pexels</a>,
                      <a href="https://www.pexels.com/photo/a-clear-sky-at-night-2885320/">
                        <cite>A Clear Sky At Night</cite>
                      </a>
                    </figcaption>
                  </figure>
                  <figure class="panel">
                    <img src="../../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                    <figcaption>
                      Source: <a href="https://www.pexels.com/@rpnickson">Roberto Nickson</a>
                      on <a href="pexels.com">Pexels</a>,
                      <a href="https://www.pexels.com/photo/a-clear-sky-at-night-2885320/">
                        <cite>A Clear Sky At Night</cite>
                      </a>
                    </figcaption>
                  </figure>
                  <p>
                    Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
                    Praesent sodales velit quis augue.
                    Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                  </p>
                  <img class="side_right" src="../../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                    Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                    Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                  </p>
                  <p>
                    Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
                    Praesent sodales velit quis augue.
                    Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                    Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                    Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                  </p>
                  <p>
                    Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
                    Praesent sodales velit quis augue.
                    Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                  </p>
                  <img class="side_left" src="../../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                    Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                    Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                  </p>
                  <p>
                    Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
                    Praesent sodales velit quis augue.
                    Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                    Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                    Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                  </p>
                  <p>
                    Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
                    Praesent sodales velit quis augue.
                    Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                  </p>
                </section>
                <section class="special">
                  <h6>Header level six</h6>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                    Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  </p>
                  <audio controls>
                    <source src="../../../assets/sounds/samples/Turdus_merula_2.ogg" type="audio/mpeg">
                    <track src="../../../assets/sounds/samples/Turdus_merula_2.ogg" kind="captions" srclang="en" label="English">
                    Your browser does not support the audio tag.
                  </audio>
                  <p>
                    Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                    Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                    Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                    Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
                    Praesent sodales velit quis augue.
                    Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                  </p>
                </section>
              </section>
            </section>
          </section>
        </section>
        <section>
          <img src="../../../assets/images/samples/pexels-stephan-seeber-1668246_mountains_forest_autumn.jpeg" class="panel">
        </section>
        <section>
          <h3>Documents</h3>
          <a class="document" href="../../../assets/documents/samples/document_sample.pdf">Document 1</a>
          <a class="document" href="../../../assets/documents/samples/document_sample.pdf">Document 2</a>
          <a class="document" href="../../../assets/documents/samples/document_sample.pdf">Document 3</a>
        </section>
        <section>
          <h3>Facebook invitation</h3>
          <div class="facebook_invitation">
            <a class="facebook" href="https://www.facebook.com">Visit us on Facebook</a>
          </p>
        </section>
        <section>
          <h1>Some basic text</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur <strong>adipiscing elit</strong>.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. <em>Phasellus pharetra nulla ac diam.</em> Quisque semper justo at risus.
            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
            Nam congue, pede <mark>vitae dapibus aliquet</mark>, elit magna vulputate arcu, vel tempus metus leo non est.
            Etiam sit amet lectus quis est congue mollis. Phasellus <del>congue</del> <ins>congue</ins> lacus eget neque.
          </p>
          <p>
            Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
            Praesent sodales velit quis augue.
            Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
          </p>
          <p>My favourite book is <cite>Il nome della Rosa</cite> written by <strong>Umberto Eco</strong></p>
          <p><abbr title="Abbreviation">ABBR</abbr> - an abbreviation.</p>
          <p><dfn>Definition</dfn> is a statement of the meaning of a term (a word, phrase, or other set of symbols).</p>
          <p>Define <var>t</var> variable for the time value.</p>
          <p>Press <kbd>[Ctrl]+[Alt]+[Del]</kbd> to restart the computer.</p>
          <p>The program running strart from the <code>main()</code> function.</p>
          <p>As the result, the program should to write <samp>Hello world!</samp> on the standard output.</p>
        </section>
      </article>
    </main>
  </div>
  