<div id="liner">
  <main>
    <article>
      <section id="content-text-details">
        {% include 'content/article/text_details.layin.partial.twig.html' %}
      </section>
      <section id="content-headers">
        {% include 'content/article/headers.layin.partial.twig.html' %}
      </section>
      <section id="content-text-blocks">
        {% include 'content/article/text_blocks.layin.partial.twig.html' %}
      </section>
      <section id="content-lists">
        {% include 'content/article/lists.layin.partial.twig.html' %}
      </section>
      <!-- <section class="intro special">
        <h1>Header level one</h1>
        <p>
          An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
          Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
          Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
          Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
        </p>
        <p>
          Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
          nisi.
          Praesent sodales velit quis augue.
          Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
        </p>
      </section>
      <section class="intro">
        <h1>Header level one</h1>
        <p>
          An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
          Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
          Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
          Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
        </p>
        <p>
          Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
          nisi.
          Praesent sodales velit quis augue.
          Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
        </p>
      </section>
      <section class="intro special">
        <p>
          An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
          Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
          Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
          Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
        </p>
        <p>
          Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
          nisi.
          Praesent sodales velit quis augue.
          Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
        </p>
      </section>
      <section class="intro">
        <p>
          An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
          Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
        </p>
        <p class="special">
          Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
          Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
          Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
        </p>
        <p>
          Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
          nisi.
          Praesent sodales velit quis augue.
          Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
        </p>
      </section>
      <section class="special">
        <p>
          An intro of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
          Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
          Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
          Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
        </p>
        <p>
          Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
          nisi.
          Praesent sodales velit quis augue.
          Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
        </p>
      </section>
      <section>
        <h2>Header level two</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
          Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
        </p>
        <table>
          <caption><em>Table 1.1</em> Table's caption</caption>
          <tr>
            <td>first row first column</td>
            <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>first row third column</td>
          </tr>
          <tr>
            <td>second row first column</td>
            <td></td>
            <td>second row third column</td>
          </tr>
          <tr>
            <td>third row first column</td>
            <td>third row second column</td>
            <td>third row third column</td>
          </tr>
        </table>
        <table>
          <caption><em>Table 1.2</em> Table's caption</caption>
          <tr>
            <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
            <th>header second column</th>
            <th>header third column</th>
          </tr>
          <tr>
            <th>first row first column</th>
            <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>first row third column</td>
          </tr>
          <tr>
            <th>second row first column</th>
            <td></td>
            <td>second row third column</td>
          </tr>
          <tr>
            <th>third row first column</th>
            <td>third row second column</td>
            <td>third row third column</td>
          </tr>
        </table>
        <table>
          <caption><em>Table 1.3</em> Table's caption</caption>
          <thead>
            <tr>
              <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
              <th>header second column</th>
              <th>header third column</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>first row first column</td>
              <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
              <td>first row third column</td>
            </tr>
            <tr>
              <td>second row first column</td>
              <td></td>
              <td>second row third column</td>
            </tr>
            <tr>
              <td>third row first column</td>
              <td>third row second column</td>
              <td>third row third column</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>footer first column</th>
              <th>footer second column</th>
              <th>footer third column</th>
            </tr>
          </tfoot>
        </table>
        <table>
          <caption><em>Table 1.4</em> Table's caption</caption>
          <thead>
            <tr>
              <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
              <th>header second column</th>
              <th>header third column</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>first row first column</td>
              <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
              <td>first row third column</td>
            </tr>
            <tr>
              <td>second row first column</td>
              <td></td>
              <td>second row third column</td>
            </tr>
            <tr>
              <td>third row first column</td>
              <td>third row second column</td>
              <td>third row third column</td>
            </tr>
          </tbody>
        </table>
        <table>
          <caption><em>Table 1.5</em> Table's caption</caption>
          <tbody>
            <tr>
              <td>first row first column</td>
              <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
              <td>first row third column</td>
            </tr>
            <tr>
              <td>second row first column</td>
              <td></td>
              <td>second row third column</td>
            </tr>
            <tr>
              <td>third row first column</td>
              <td>third row second column</td>
              <td>third row third column</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>footer first column</th>
              <th>footer second column</th>
              <th>footer third column</th>
            </tr>
          </tfoot>
        </table>
        <table class="special">
          <caption><em>Table 2.1</em> Table's caption</caption>
          <tr>
            <td>first row first column</td>
            <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>first row third column</td>
          </tr>
          <tr>
            <td>second row first column</td>
            <td></td>
            <td>second row third column</td>
          </tr>
          <tr>
            <td>third row first column</td>
            <td>third row second column</td>
            <td>third row third column</td>
          </tr>
        </table>
        <table class="special">
          <caption><em>Table 2.2</em> Table's caption</caption>
          <tr>
            <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
            <th>header second column</th>
            <th>header third column</th>
          </tr>
          <tr>
            <th>first row first column</th>
            <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>first row third column</td>
          </tr>
          <tr>
            <th>second row first column</th>
            <td></td>
            <td>second row third column</td>
          </tr>
          <tr>
            <th>third row first column</th>
            <td>third row second column</td>
            <td>third row third column</td>
          </tr>
        </table>
        <table class="special">
          <caption><em>Table 2.3</em> Table's caption</caption>
          <thead>
            <tr>
              <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
              <th>header second column</th>
              <th>header third column</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>first row first column</td>
              <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
              <td>first row third column</td>
            </tr>
            <tr>
              <td>second row first column</td>
              <td></td>
              <td>second row third column</td>
            </tr>
            <tr>
              <td>third row first column</td>
              <td>third row second column</td>
              <td>third row third column</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>footer first column</th>
              <th>footer second column</th>
              <th>footer third column</th>
            </tr>
          </tfoot>
        </table>
        <table class="special">
          <caption><em>Table 2.4</em> Table's caption</caption>
          <thead>
            <tr>
              <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
              <th>header second column</th>
              <th>header third column</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>first row first column</td>
              <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
              <td>first row third column</td>
            </tr>
            <tr>
              <td>second row first column</td>
              <td></td>
              <td>second row third column</td>
            </tr>
            <tr>
              <td>third row first column</td>
              <td>third row second column</td>
              <td>third row third column</td>
            </tr>
          </tbody>
        </table>
        <table class="special">
          <caption><em>Table 2.5</em> Table's caption</caption>
          <tbody>
            <tr>
              <td>first row first column</td>
              <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
              <td>first row third column</td>
            </tr>
            <tr>
              <td>second row first column</td>
              <td></td>
              <td>second row third column</td>
            </tr>
            <tr>
              <td>third row first column</td>
              <td>third row second column</td>
              <td>third row third column</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>footer first column</th>
              <th>footer second column</th>
              <th>footer third column</th>
            </tr>
          </tfoot>
        </table>
        <p>
          Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
          Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
          Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
          Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
          nisi.
          Praesent sodales velit quis augue.
          Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
        </p>
        <section>
          <h3>Header level three</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
            Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
          </p>
          <dl>
            <dt>Definition one</dt>
            <dd>a statement of the meaning of a term (a word, phrase, or other set of symbols).
              Definitions can be classified into two large categories, intensional definitions
              (which try to give the sense of a term) and extensional definitions
              (which try to list the objects that a term describes).</dd>
            <dt>Definition two</dt>
            <dd>a statement of the meaning of a term (a word, phrase, or other set of symbols).
              Definitions can be classified into two large categories, intensional definitions
              (which try to give the sense of a term) and extensional definitions
              (which try to list the objects that a term describes).</dd>
            <dt>Definition three</dt>
            <dd>a statement of the meaning of a term (a word, phrase, or other set of symbols).
              Definitions can be classified into two large categories, intensional definitions
              (which try to give the sense of a term) and extensional definitions
              (which try to list the objects that a term describes).</dd>
          </dl>
          <dl class="special">
            <dt>Definition one</dt>
            <dd>a statement of the meaning of a term (a word, phrase, or other set of symbols).
              Definitions can be classified into two large categories, intensional definitions
              (which try to give the sense of a term) and extensional definitions
              (which try to list the objects that a term describes).</dd>
            <dt>Definition two</dt>
            <dd>a statement of the meaning of a term (a word, phrase, or other set of symbols).
              Definitions can be classified into two large categories, intensional definitions
              (which try to give the sense of a term) and extensional definitions
              (which try to list the objects that a term describes).</dd>
            <dt>Definition three</dt>
            <dd>a statement of the meaning of a term (a word, phrase, or other set of symbols).
              Definitions can be classified into two large categories, intensional definitions
              (which try to give the sense of a term) and extensional definitions
              (which try to list the objects that a term describes).</dd>
          </dl>
          <p>
            Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
            nisi.
            Praesent sodales velit quis augue.
            Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
          </p>
          <section>
            <h4>Header level four</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
              Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
            </p>
            <p>
              Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
              orci.
              Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
              Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
            </p>
            <section>
              <section style="overflow: auto;">
                <h6>Header level six</h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                </p>
                <img src="../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                <p>
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <figure>
                  <img src="../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                  <figcaption>
                    Source: <a href="https://www.pexels.com/@rpnickson">Roberto Nickson</a>
                    on <a href="pexels.com">Pexels</a>,
                    <a href="https://www.pexels.com/photo/a-clear-sky-at-night-2885320/">
                      <cite>A Clear Sky at Night</cite>
                    </a>
                  </figcaption>
                </figure>
                <figure class="special">
                  <img src="../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                  <figcaption>
                    Source: <a href="https://www.pexels.com/@rpnickson">Roberto Nickson</a>
                    on <a href="pexels.com">Pexels</a>,
                    <a href="https://www.pexels.com/photo/a-clear-sky-at-night-2885320/">
                      <cite>A Clear Sky at Night</cite>
                    </a>
                  </figcaption>
                </figure>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <img class="side_right" src="../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <img class="side_left" src="../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <video controls>
                  <source src="../../../assets/videos/samples/Pexels-Videos 2330708.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="caption">
                  Source: <a href="https://www.pexels.com/@kelly-1179532/">Kelly</a>
                    on <a href="pexels.com">Pexels</a>,
                    <a href="https://www.pexels.com/video/a-shallow-river-streaming-through-a-bed-of-rocks-2330708/">
                      <cite>A Shallow River Streaming Through a Bed of Rocks</cite>
                    </a>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <video class="side_left" controls>
                  <source src="../../../assets/videos/samples/Pexels-Videos 2330708.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <video class="side_right" controls>
                  <source src="../../../assets/videos/samples/Pexels-Videos 2330708.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <p>
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <audio controls>
                  <source src="../../../assets/sounds/samples/Turdus_merula_2.ogg" type="audio/mpeg">
                  Your browser does not support the audio tag.
                </audio>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                </p>
                <audio class="special" controls>
                  <source src="../../../assets/sounds/samples/Turdus_merula_2.ogg" type="audio/mpeg">
                  Your browser does not support the audio tag.
                </audio>
                <p>
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <audio class="side_left" controls>
                  <source src="../../../assets/sounds/samples/Turdus_merula_2.ogg" type="audio/mpeg">
                  Your browser does not support the audio tag.
                </audio>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
                <audio class="side_right" controls>
                  <source src="../../../assets/sounds/samples/Turdus_merula_2.ogg" type="audio/mpeg">
                  Your browser does not support the audio tag.
                </audio>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
              </section>
              <section class="special">
                <h6>Header level six</h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                  Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                </p>
                <img src="../../assets/images/samples/pexels-roberto-nickson-2885320.jpeg">
                <p>
                  Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id
                  orci.
                  Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                  Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                </p>
                <video controls>
                  <source src="../../../assets/videos/samples/Pexels-Videos 2330708.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <p>
                  Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede
                  metus eget nisi.
                </p>
                <audio controls>
                  <source src="../../../assets/sounds/samples/Turdus_merula_2.ogg" type="audio/mpeg">
                  Your browser does not support the audio tag.
                </audio>
                <p>
                  Praesent sodales velit quis augue.
                  Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                </p>
              </section>
            </section>
          </section>
        </section>
      </section> -->
    </article>
  </main>
</div>
