<div id="liner">
  <main>
    <article>
      <section id="content-text-details">
        {% include 'content/article/text_details.layin.partial.twig.html' %}
      </section>
      <section id="content-headers">
        {% include 'content/article/headers.layin.partial.twig.html' %}
      </section>
      <section id="content-text-blocks">
        {% include 'content/article/text_blocks.layin.partial.twig.html' %}
      </section>
      <section id="content-lists">
        {% include 'content/article/lists.layin.partial.twig.html' %}
      </section>
      <section id="content-tables">
        {% include 'content/article/tables.layin.partial.twig.html' %}
      </section>
      <section id="content-media">
        {% include 'content/article/media.layin.partial.twig.html' %}
      </section>
      <section id="content-information">
        {% include 'content/article/information.layin.partial.twig.html' %}
      </section>
    </article>
  </main>
</div>
