<h1>Information</h1>
<section id="content-information-address">
    <h2>Address</h2>
    <address>
        Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
        Visit us at:<br>
        Example.com<br>
        Box 564, Disneyland<br>
        USA
    </address>
</section>
<section id="content-information-details">
    <h2>Details</h2>
    <h3>Normal details</h3>
    <details>Some details</details>
    <h3>Special detils</h3>
    <details class="special">Some details</details>
</section>
