<h1>Lists</h1>
<section id="content-lists-unordered">
    <h3>Unordered lists</h3>
    <h4>Normal unordered lists</h4>
    <h5>Normal unordered regular list</h5>
    <ul>
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li>third point of the list</li>
    </ul>
    <h5>Normal unordered nested list</h5>
    <ul>
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li>third point of the list</li>
        <ul>
            <li>first point of the list</li>
            <li>second point of the list</li>
            <li>third point of the list</li>
        </ul>
    </ul>
    <h5>Normal unordered list with skipped element</h5>
    <ul>
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li class="skipped">third skipped point of the list</li>
    </ul>
    <h5>Normal unordered blank list</h5>
    <ul class="blank">
        <li>first point of the blank list</li>
        <li>second point of the blank list</li>
        <li>third point of the blank list</li>
    </ul>
    <h4>Special unordered lists</h4>
    <h5>Special unordered regular list</h5>
    <ul class="special">
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li>third point of the list</li>
    </ul>
    <h5>Special unordered nested list</h5>
    <ul class="special">
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li>third point of the list</li>
        <ul>
            <li>first point of the list</li>
            <li>second point of the list</li>
            <li>third point of the list</li>
        </ul>
    </ul>
    <h5>Special unordered list with skipped element</h5>
    <ul class="special">
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li class="skipped">third skipped point of the list</li>
    </ul>
    <h5>Special unordered blank list</h5>
    <ul class="special blank">
        <li>first point of the blank list</li>
        <li>second point of the blank list</li>
        <li>third point of the blank list</li>
    </ul>
</section>
<section id="content-lists-unordered">
    <h3>Ordered lists</h3>
    <h4>Normal ordered lists</h4>
    <h5>Normal ordered regular list</h5>
    <ol>
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li>third point of the list</li>
    </ol>
    <h5>Normal ordered nested list</h5>
    <ol>
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li>third point of the list</li>
        <ol>
            <li>first point of the list</li>
            <li>second point of the list</li>
            <li>third point of the list</li>
        </ol>
    </ol>
    <h5>Normal ordered list with skipped element</h5>
    <ol>
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li class="skipped">third skipped point of the list</li>
    </ol>
    <h5>Normal ordered blank list</h5>
    <ol class="blank">
        <li>first point of the blank list</li>
        <li>second point of the blank list</li>
        <li>third point of the blank list</li>
    </ol>
    <h5>Special ordered regular list</h5>
    <ol class="special">
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li>third point of the list</li>
    </ol>
    <h5>Special ordered nested list</h5>
    <ol class="special">
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li>third point of the list</li>
        <ol>
            <li>first point of the list</li>
            <li>second point of the list</li>
            <li>third point of the list</li>
        </ol>
    </ol>
    <h5>Special ordered list with skipped element</h5>
    <ol class="special">
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li class="skipped">third skipped point of the list</li>
    </ol>
    <h5>Special ordered blank list</h5>
    <ol class="special blank">
        <li>first point of the list</li>
        <li>second point of the list</li>
        <li>third point of the blank list</li>
    </ol>
</section>
<section id="content-lists-descriptions">
    <h2>Description lists</h2>
    <h3>Normal description list</h3>
    <dl>
        <dt>Description one</dt>
        <dd>the pattern of narrative development that aims to make vivid a place, object, character, or group.
            Description is one of four rhetorical modes (also known as modes of discourse),
            along with exposition, argumentation, and narration.
            In practice it would be difficult to write literature that drew on just one of the four basic modes.</dd>
        <dt>Description two</dt>
        <dd>the pattern of narrative development that aims to make vivid a place, object, character, or group.
            Description is one of four rhetorical modes (also known as modes of discourse),
            along with exposition, argumentation, and narration.
            In practice it would be difficult to write literature that drew on just one of the four basic modes.</dd>
        <dt>Description three</dt>
        <dd>the pattern of narrative development that aims to make vivid a place, object, character, or group.
            Description is one of four rhetorical modes (also known as modes of discourse),
            along with exposition, argumentation, and narration.
            In practice it would be difficult to write literature that drew on just one of the four basic modes.</dd>
    </dl>
    <h3>Special description list</h3>
    <dl class="special">
        <dt>Description one</dt>
        <dd>the pattern of narrative development that aims to make vivid a place, object, character, or group.
            Description is one of four rhetorical modes (also known as modes of discourse),
            along with exposition, argumentation, and narration.
            In practice it would be difficult to write literature that drew on just one of the four basic modes.</dd>
        <dt>Description two</dt>
        <dd>the pattern of narrative development that aims to make vivid a place, object, character, or group.
            Description is one of four rhetorical modes (also known as modes of discourse),
            along with exposition, argumentation, and narration.
            In practice it would be difficult to write literature that drew on just one of the four basic modes.</dd>
        <dt>Description three</dt>
        <dd>the pattern of narrative development that aims to make vivid a place, object, character, or group.
            Description is one of four rhetorical modes (also known as modes of discourse),
            along with exposition, argumentation, and narration.
            In practice it would be difficult to write literature that drew on just one of the four basic modes.</dd>
    </dl>
</section>
