<h1>Tables</h1>
<h2>Normal tables</h2>
<h3>Normal simple table</h3>
<table>
    <caption><em>Table 1.1</em> Table's caption</caption>
    <tr>
        <td>first row first column</td>
        <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>first row third column</td>
    </tr>
    <tr>
        <td>second row first column</td>
        <td></td>
        <td>second row third column</td>
    </tr>
    <tr>
        <td>third row first column</td>
        <td>third row second column</td>
        <td>third row third column</td>
    </tr>
</table>
<h3>Normal table with header cells</h3>
<table>
    <caption><em>Table 1.2</em> Table's caption</caption>
    <tr>
        <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
        <th>header second column</th>
        <th>header third column</th>
    </tr>
    <tr>
        <th>first row first column</th>
        <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>first row third column</td>
    </tr>
    <tr>
        <th>second row first column</th>
        <td></td>
        <td>second row third column</td>
    </tr>
    <tr>
        <th>third row first column</th>
        <td>third row second column</td>
        <td>third row third column</td>
    </tr>
</table>
<h3>Normal table with header and footer</h3>
<table>
    <caption><em>Table 1.3</em> Table's caption</caption>
    <thead>
        <tr>
            <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
            <th>header second column</th>
            <th>header third column</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>first row first column</td>
            <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>first row third column</td>
        </tr>
        <tr>
            <td>second row first column</td>
            <td></td>
            <td>second row third column</td>
        </tr>
        <tr>
            <td>third row first column</td>
            <td>third row second column</td>
            <td>third row third column</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>footer first column</th>
            <th>footer second column</th>
            <th>footer third column</th>
        </tr>
    </tfoot>
</table>
<h3>Normal table with header</h3>
<table>
    <caption><em>Table 1.4</em> Table's caption</caption>
    <thead>
        <tr>
            <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
            <th>header second column</th>
            <th>header third column</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>first row first column</td>
            <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>first row third column</td>
        </tr>
        <tr>
            <td>second row first column</td>
            <td></td>
            <td>second row third column</td>
        </tr>
        <tr>
            <td>third row first column</td>
            <td>third row second column</td>
            <td>third row third column</td>
        </tr>
    </tbody>
</table>
<h3>Normal table with header and footer</h3>
<table>
    <caption><em>Table 1.5</em> Table's caption</caption>
    <tbody>
        <tr>
            <td>first row first column</td>
            <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>first row third column</td>
        </tr>
        <tr>
            <td>second row first column</td>
            <td></td>
            <td>second row third column</td>
        </tr>
        <tr>
            <td>third row first column</td>
            <td>third row second column</td>
            <td>third row third column</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>footer first column</th>
            <th>footer second column</th>
            <th>footer third column</th>
        </tr>
    </tfoot>
</table>
<h2>Special tables</h2>
<h3>Special simple table</h3>
<table class="special">
    <caption><em>Table 2.1</em> Table's caption</caption>
    <tr>
        <td>first row first column</td>
        <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>first row third column</td>
    </tr>
    <tr>
        <td>second row first column</td>
        <td></td>
        <td>second row third column</td>
    </tr>
    <tr>
        <td>third row first column</td>
        <td>third row second column</td>
        <td>third row third column</td>
    </tr>
</table>
<h3>Special table with header cells</h3>
<table class="special">
    <caption><em>Table 2.2</em> Table's caption</caption>
    <tr>
        <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
        <th>header second column</th>
        <th>header third column</th>
    </tr>
    <tr>
        <th>first row first column</th>
        <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>first row third column</td>
    </tr>
    <tr>
        <th>second row first column</th>
        <td></td>
        <td>second row third column</td>
    </tr>
    <tr>
        <th>third row first column</th>
        <td>third row second column</td>
        <td>third row third column</td>
    </tr>
</table>
<h3>Special table with header and footer</h3>
<table class="special">
    <caption><em>Table 2.3</em> Table's caption</caption>
    <thead>
        <tr>
            <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
            <th>header second column</th>
            <th>header third column</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>first row first column</td>
            <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>first row third column</td>
        </tr>
        <tr>
            <td>second row first column</td>
            <td></td>
            <td>second row third column</td>
        </tr>
        <tr>
            <td>third row first column</td>
            <td>third row second column</td>
            <td>third row third column</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>footer first column</th>
            <th>footer second column</th>
            <th>footer third column</th>
        </tr>
    </tfoot>
</table>
<h3>Special table with header</h3>
<table class="special">
    <caption><em>Table 2.4</em> Table's caption</caption>
    <thead>
        <tr>
            <th>header first column lorem ipsum dolor sit amet, consectetur adipiscing elit</th>
            <th>header second column</th>
            <th>header third column</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>first row first column</td>
            <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>first row third column</td>
        </tr>
        <tr>
            <td>second row first column</td>
            <td></td>
            <td>second row third column</td>
        </tr>
        <tr>
            <td>third row first column</td>
            <td>third row second column</td>
            <td>third row third column</td>
        </tr>
    </tbody>
</table>
<h3>Special table with footer</h3>
<table class="special">
    <caption><em>Table 2.5</em> Table's caption</caption>
    <tbody>
        <tr>
            <td>first row first column</td>
            <td>first row second column lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>first row third column</td>
        </tr>
        <tr>
            <td>second row first column</td>
            <td></td>
            <td>second row third column</td>
        </tr>
        <tr>
            <td>third row first column</td>
            <td>third row second column</td>
            <td>third row third column</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>footer first column</th>
            <th>footer second column</th>
            <th>footer third column</th>
        </tr>
    </tfoot>
</table>
