<h1>Text details</h1>
<p>It's important, <mark>to be aware of the strengths and weaknesses of the used technology</mark>.</p>
<p>Good programmer doesn't <strong>stick</strong> to the one programming language, arguing it's the best choose for <em>each</em> problem domain.</p>
<p>The vide horizon of the programmer's competencies can bring the great technical <del>knowledge</del> <ins>intuition</ins>.</p>
<p>Some of such observations has been described in the book <cite>The name of the competence</cite> written by <strong>Coderto Consto</strong></p>
<p><abbr title="Technology consciousness">Techconsc</abbr> - an abbreviation for the term <dfn>technology consciousness</dfn>,
which means the deep awarnes of the given technology advantages, disadvantages, as well as the knowledge about its origins
and the initial purposes.</p>
<p>Define <var>t</var> variable for the time value.</p>
<p>Press <kbd>[Ctrl]+[Alt]+[Del]</kbd> to restart the computer.</p>
<p>The program running strart from the <code>main()</code> function.</p>
<p>As the result, the program should to write <samp>Hello world!</samp> on the standard output.</p>
