<h1>Text blocks</h1>
<section id="content-text-blocks-paragraph">
    <h2>Paragraph</h2>
    <h3>Normal paragraph</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc ac libero mauris. Donec viverra nunc quis mi venenatis consectetur.
        Duis dictum dui in turpis fringilla, quis tincidunt ipsum iaculis.
        Morbi commodo vehicula purus a cursus. Nullam tincidunt lobortis erat a scelerisque.
        Mauris lorem mauris, placerat id eros id, laoreet euismod arcu.
        Mauris enim neque, lacinia tincidunt auctor nec, accumsan eget tellus.
        Nullam placerat efficitur efficitur. Vestibulum pharetra elit risus, non fringilla nisi rutrum id.
        Donec convallis luctus dolor, sed pharetra metus sollicitudin id.
        Duis non dignissim enim, eu tristique risus.
        Quisque scelerisque aliquam dui, vitae ornare lorem elementum sed.
        Phasellus interdum vulputate aliquet. Sed venenatis vehicula velit, eget rhoncus magna iaculis ac.
        Ut interdum nunc vel neque accumsan, at eleifend neque sodales.
        Aenean pellentesque porttitor magna vel fermentum.
    </p>
    <h3>Special paragraph</h3>
    <p class="special">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc ac libero mauris. Donec viverra nunc quis mi venenatis consectetur.
        Duis dictum dui in turpis fringilla, quis tincidunt ipsum iaculis.
        Morbi commodo vehicula purus a cursus. Nullam tincidunt lobortis erat a scelerisque.
        Mauris lorem mauris, placerat id eros id, laoreet euismod arcu.
        Mauris enim neque, lacinia tincidunt auctor nec, accumsan eget tellus.
        Nullam placerat efficitur efficitur. Vestibulum pharetra elit risus, non fringilla nisi rutrum id.
        Donec convallis luctus dolor, sed pharetra metus sollicitudin id.
        Duis non dignissim enim, eu tristique risus.
        Quisque scelerisque aliquam dui, vitae ornare lorem elementum sed.
        Phasellus interdum vulputate aliquet. Sed venenatis vehicula velit, eget rhoncus magna iaculis ac.
        Ut interdum nunc vel neque accumsan, at eleifend neque sodales.
        Aenean pellentesque porttitor magna vel fermentum.
    </p>
</section>
<section id="content-text-blocks-blockquote">
    <h2>Block quote</h2>
    <h3>Normal block quote</h3>
    <blockquote  cite="https://en.wikipedia.org/wiki/Lorem_ipsum">
        Integer imperdiet finibus nisl vel tincidunt.
        Praesent augue tortor, semper eu arcu ut, ultrices elementum odio.
        Sed finibus justo quis dui varius sollicitudin. Donec ultrices tortor blandit ornare suscipit.
        Phasellus felis lectus, vulputate non orci vitae, eleifend finibus neque.
        Morbi sollicitudin convallis neque eu fringilla. Nam rutrum dictum fermentum.
        Suspendisse odio leo, ullamcorper sit amet iaculis sed, dictum et orci.
        Pellentesque lacus neque, vestibulum at tempor vitae, consequat sodales magna.
        Aenean ut aliquet dui. Nullam urna ante, convallis ac nibh eleifend, fermentum auctor purus.
        Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Etiam ullamcorper, ligula quis efficitur gravida, tellus nunc faucibus odio,
        quis convallis justo velit sed sapien. Fusce justo tellus, dictum a augue eget, ultrices rutrum tortor.
        Nullam malesuada viverra nisl, id pretium leo elementum eget.
    </blockquote>
    <h3>Special block quote</h3>
    <blockquote  cite="https://en.wikipedia.org/wiki/Lorem_ipsum" class="special">
        Integer imperdiet finibus nisl vel tincidunt.
        Praesent augue tortor, semper eu arcu ut, ultrices elementum odio.
        Sed finibus justo quis dui varius sollicitudin. Donec ultrices tortor blandit ornare suscipit.
        Phasellus felis lectus, vulputate non orci vitae, eleifend finibus neque.
        Morbi sollicitudin convallis neque eu fringilla. Nam rutrum dictum fermentum.
        Suspendisse odio leo, ullamcorper sit amet iaculis sed, dictum et orci.
        Pellentesque lacus neque, vestibulum at tempor vitae, consequat sodales magna.
        Aenean ut aliquet dui. Nullam urna ante, convallis ac nibh eleifend, fermentum auctor purus.
        Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Etiam ullamcorper, ligula quis efficitur gravida, tellus nunc faucibus odio,
        quis convallis justo velit sed sapien. Fusce justo tellus, dictum a augue eget, ultrices rutrum tortor.
        Nullam malesuada viverra nisl, id pretium leo elementum eget.
    </blockquote>
</section>
<section id="content-text-blocks-definition">
    <h2>Definition</h2>
    <h3>Normal definition</h3>
    <div class="definition">
        <em>Definition</em> - a statement of the meaning of a term (a word, phrase, or other set of symbols).
        Definitions can be classified into two large categories, intensional definitions
        (which try to give the sense of a term) and extensional definitions
        (which try to list the objects that a term describes).
        Another important category of definitions is the class of ostensive definitions,
        which convey the meaning of a term by pointing out examples.
        A term may have many different senses and multiple meanings, and thus require multiple definitions.
    </div>
    <h3>Special definition</h3>
    <div class="definition special">
        <em>Definition</em> - a statement of the meaning of a term (a word, phrase, or other set of symbols).
        Definitions can be classified into two large categories, intensional definitions
        (which try to give the sense of a term) and extensional definitions
        (which try to list the objects that a term describes).
        Another important category of definitions is the class of ostensive definitions,
        which convey the meaning of a term by pointing out examples.
        A term may have many different senses and multiple meanings, and thus require multiple definitions.
    </div>
</section>
<section id="content-text-blocks-code">
    <h2>Code</h2>
    <div class="code">{% include 'content/article/code_snippet.layin.partial.twig.html' %}</div>
</section>
<section id="content-text-blocks-pre">
    <h2>Preformatted text</h2>
    <pre class="lang-cpp">{% include 'content/article/code_snippet.layin.partial.twig.html' %}</pre>
</section>
<section id="content-text-blocks-terminal">
    <h2>Terminal</h2>
    <div class="terminal"><em>webmaster@layin$</em> some terminal entry</div>
</section>
<section id="content-text-blocks-messages">
    <h2>The messages</h2>
    <h3>Alert message</h3>
    <div class="alert">
        <strong>Alert!</strong> This is an alert. Donec venenatis, turpis vel hendrerit interdum, dui ligula
        ultricies purus, sed posuere libero dui id orci.
        Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
        Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
    </div>
    <h3>Warning message</h3>
    <div class="warning">
        <strong>Warning!</strong> This is a warning. Donec venenatis, turpis vel hendrerit interdum, dui ligula
        ultricies purus, sed posuere libero dui id orci.
        Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
        Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
    </div>
    <h3>Info message</h3>
    <div class="info">
        <strong>Info.</strong> This is an info. Donec venenatis, turpis vel hendrerit interdum, dui ligula
        ultricies purus, sed posuere libero dui id orci.
        Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
        Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
    </div>
</section>
