:root
{
  /* contrast */
  --contrast-body-background-color: black;
  --contrast-banner-background-color: black;
  --contrast-banner-text-color: white;
  --contrast-controls-background-color: var(--amaranthine);
  --contrast-controls-text-color: white;
  --contrast-controls-backlight-color: navy;
}
