:root
{
  /* layout */
  --header-height: 336px;
  --banner-height: 168px; /* 2*42 + 84 */
  --logo-size: 252px; /* 2*(42 + 84) */
  --site-name-hem: 42px;
  --site-name-font-size: 80px;
  --site-description-font-size: 26px;
  --body-background-size: 100%;

  --controls-height: 46px;

  /* font */
  font-size: 16px;

  /* details */
  --detached-controls-opacity: 85%;

  --menu-button-minor-hem: 10px;
  --menu-button-major-hem: 0;
  --menu-button-font-size: 120%;
  --menu-button-icon-size: 26px;
}

#guideboard
{
  background-color: var(--guideboard-background-color);
}

.detached #controls
{
  opacity: var(--detached-controls-opacity);
}

.detached #guideboard
{
  position: relative;
}

nav,
/*
This is necessary to prevent
stucking nav styles in lower screen sizes versions
when navigation is active (visible)
and screen is resizing.
*/
nav.active
{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}

.detached #dial,
.detached nav
{
  background-color: transparent;
}

.detached nav
{
  position: absolute;
  top: calc(var(--controls-height) * (-1));
  left: 0;
  width: max-content;
  max-width: 678px;
  overflow: visible;
}

nav .submenu
{
  position: absolute;
  width: 300px;
}

#dial .menu-button:hover
{
  background-color: var(--controls-backlight-color);
}

#dial .menu-button#guideboard-trigger
{
  display: none;
}

.detached nav .menu-button.icon .content,
.detached nav .menu-button.sup:after
{
  display: none;
}

.detached nav .menu-button.sup
{
  background-size: var(--controls-height);
  background-image: url('../img/icons/little_triangle_down.svg');
  background-repeat: no-repeat;
}

.detached nav .menu-button.sup.active
{
  background-image: url('../img/icons/little_triangle_up.svg');
}

nav .menu-button
{
  border-bottom: 0;
}

nav .menu-button:hover
{
  background-color: var(--guideboard-backlight-color);
}

nav .menu-button.active
{
  background-color: var(--guideboard-submenu-background-color);
}

nav .submenu .menu-button:hover
{
  background-color: var(--guideboard-submenu-backlight-color);
}
