:root
{
  /* layout */
  --max-width: 1400px;
  --vertical-hem: 5%;
  --cover-area-height: var(--banner-height);

  /* font */
  --font-family: liberation-sans-regular, 'Verdana', sans-serif;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  display: grid;
  grid-template-rows:
    [header-begin] var(--header-height) [header-end
    cover-begin] var(--cover-height) [cover-end
    dashboard-begin] max-content [dashboard-end
    board-begin] max-content [board-end
    footer-begin] max-content [footer-end];
  grid-template-areas:
    "header"
    "cover"
    "dashboard"
    "board"
    "footer";
  background-size: var(--body-background-size);
  background-image: url('../img/layin-cover.jpeg');
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  background-color: var(--body-background-color);
}

.frame
{
  display: grid;
  grid-template-columns: [scaffold-begin] minmax(5%, auto)
    [liner-begin] minmax(min-content, var(--max-width)) [liner-end]
    minmax(5%, auto) [scaffold-end];
}

.tier
{
  grid-column-start: liner-begin;
  grid-column-end: liner-end;
}

header
{
  grid-area: header;
  background-color: var(--banner-background-color);
}

#banner
{
  display: grid;
  grid-template-rows: var(--site-name-hem) [logo-begin] var(--logo-size) [logo-end];
  grid-template-columns: var(--logo-size) var(--site-name-hem) [site-name-begin] max-content [site-name-end];
  color: var(--banner-text-color);
}

#logo
{
  grid-row-start: logo-begin;
  grid-row-end: logo-end;
}

#logo img
{
  height: var(--logo-size);
}

#site-name
{
  grid-row-start: logo-begin;
  grid-column-start: site-name-begin;
  grid-column-end: site-name-end;
  font-size: var(--site-name-font-size);
}

#site-description
{
  font-size: var(--site-description-font-size);
}

#dashboard
{
  grid-area: dashboard
}

#board
{
  grid-area: board;
}

footer
{
  grid-area: footer;
}
