:root
{
  /* layout */
  --header-height: 168px;
  --cover-height: 168px; /* 2*42 + 84 */
  --logo-size: 252px; /* 2*(42 + 84) */
  --site-name-hem: 42px;
  --site-name-font-size: 80px;
  --site-description-font-size: 26px;
  --body-background-size: 100%;
}
