:root
{
  /* layout */
  --header-height: 30vw;
  --banner-height: 15vw; /* 2*4 + 7 */
  --logo-size: 22vw; /* 2*(4 + 7) */
  --site-name-hem: 4vw;
  --site-name-font-size: 6vw;
  --site-description-font-size: 2vw;
  --body-background-size: 115%;

  --controls-height: 46px;

  /* font */
  font-size: 14px;

  /* details */
  --menu-button-minor-hem: 10px;
  --menu-button-major-hem: 0;
  --menu-button-font-size: 120%;
  --menu-button-icon-size: 26px;
}

#guideboard
{
  background-color: var(--board-background-color);
}

nav
{
  grid-column-start: shaft-begin;
  grid-column-end: shaft-end;
}

.detached nav
{
  width: var(--width);
  left: var(--vertical-hem);
  right: var(--vertical-hem);
}
