:root
{
  /* layout */
  --horizontal-hem: 46px;
  --header-height: 30vw;
  --banner-height: 15vw; /* 2*4 + 7 */
  --logo-size: 22vw; /* 2*(4 + 7) */
  --site-name-hem: 4vw;
  --site-name-font-size: 6vw;
  --site-description-font-size: 2vw;
  --body-background-size: 115%;

  --controls-height: 46px;

  --info-horizontal-hem: 30px;

  /* font */
  font-size: 18px;

  /* details */
  --menu-button-minor-hem: 10px;
  --menu-button-major-hem: 0;
  --menu-button-font-size: 105%;
  --menu-button-icon-size: 26px;
  --contact-info-item-major-hem: 6px;
  --contact-info-item-font-size: 90%;
  --copyright-font-size: 80%;
}

#guideboard
{
  background-color: var(--board-background-color);
}

nav,
#info
{
  grid-column-start: shaft-begin;
  grid-column-end: shaft-end;
}

.detached nav
{
  width: calc(100% - var(--vertical-hem) * 2);
  left: var(--vertical-hem);
  right: var(--vertical-hem);
}

#liner.three-columns main,
#liner.three-columns #demo
{
  grid-row-start: primary-begin;
  grid-row-end: primary-end;
}

#liner.three-columns main
{
  grid-column-start: M3lb;
  grid-column-end: M3le;
}

#liner.three-columns #demo
{
  grid-column-start: M3rb;
  grid-column-end: M3re;
}

#liner.three-columns #promo
{
  grid-row-start: secondary-begin;
  grid-row-end: secondary-end;
  grid-column-start: M3b;
  grid-column-end: M3e;
}
