:root
{
  /* layout */
  --max-width: 1400px;
  --vertical-hem: 5%;
  --width: 90%; /* 100 - 2*5 */
  --cover-area-height: var(--banner-height);

  /* font */
  --font-family: liberation-sans-regular, 'Verdana', sans-serif;

  /* details */
  --controls-opacity: 70%;

  --contact-info-slot-width: 500px;
}

*
{
  margin: 0;
  padding: 0;
  /*
  Allows to solve the sticky and resized dashboard
  bouncing problem that occurs during the scrolling
  and prevents from the dashboard gets stuck as detached.
  */
  /* overflow-anchor: none;
  -webkit-overflow-anchor: none;
  overscroll-behavior: none;
  -webkit-overscroll-behavior: none;
  overflow-scrolling: none;
  -webkit-overflow-scrolling: none; */
}

body
{
  display: grid;
  grid-template-rows:
    [header-begin] var(--header-height) [header-end
    dashboard-begin] max-content [dashboard-end
    board-begin] max-content [board-end
    footer-begin] max-content [footer-end];
  grid-template-areas:
    "header"
    "cover"
    "dashboard"
    "board"
    "footer";
  background-size: var(--body-background-size);
  background-image: url('../img/layin-cover.jpeg');
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  background-color: var(--body-background-color);
}

#banner,
#board,
#controls,
#guideboard,
footer
{
  display: grid;
  grid-template-columns: [scaffold-begin] minmax(5%, auto)
    [shaft-begin] minmax(min-content, var(--max-width)) [shaft-end]
    minmax(5%, auto) [scaffold-end];
}

#signboard,
#liner
{
  grid-column-start: shaft-begin;
  grid-column-end: shaft-end;
}

header
{
  grid-area: header;
  display: grid;
  grid-template-rows:
    [banner-begin] var(--banner-height) [banner-end];
}

#banner
{
  grid-row-start: banner-begin;
  grid-row-end: banner-end;
  background-color: var(--banner-background-color);
}

#signboard
{
  display: grid;
  grid-template-rows: var(--site-name-hem) [logo-begin] var(--logo-size) [logo-end];
  grid-template-columns: var(--logo-size) var(--site-name-hem) [site-name-begin] max-content [site-name-end];
  color: var(--banner-text-color);
}

#logo
{
  grid-row-start: logo-begin;
  grid-row-end: logo-end;
}

#logo img
{
  height: var(--logo-size);
}

#site-name
{
  grid-row-start: logo-begin;
  grid-column-start: site-name-begin;
  grid-column-end: site-name-end;
  font-size: var(--site-name-font-size);
}

#site-description
{
  font-size: var(--site-description-font-size);
}

#dashboard
{
  grid-area: dashboard;
  position: sticky;
  top: 0;
}

#controls
{
  background-color: var(--controls-background-color);
  opacity: var(--controls-opacity);
}

#dial
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav
{
  background-color: var(--guideboard-background-color);
}

footer
{
  grid-area: footer;
  grid-template-rows: var(--info-horizontal-hem)
    [info-begin] max-content [info-end]
    var(--info-horizontal-hem)
    [copyright-begin] max-content [copyright-end];
  background-color: var(--info-background-color);
}

#info
{
  grid-row-start: info-begin;
  grid-row-end: info-end;
  display: grid;
  grid-template-columns: [contact-info-begin] minmax(min-content, var(--contact-info-slot-width)) [contact-info-slot-end]
    auto [contact-info-end];
}

#copyright
{
  grid-row-start: copyright-begin;
  grid-row-end: copyright-end;
  grid-column-start: scaffold-begin;
  grid-column-end: scaffold-end;
  padding: 7px 0;
  background-color: var(--copyright-background-color);
  color: var(--copyright-font-color);
  font-size: 90%;
  text-align: center;
}

#board
{
  grid-area: board;
  /* It cannot be set by the grid
  because is overwritten by JS
  during the dashboard detachment handling. */
  padding-top: var(--controls-height);
  padding-bottom: var(--controls-height);
  background-color: var(--board-background-color);
  color: var(--board-text-color);
  font-size: 200%;
}

#liner
{
  display: grid;
  grid-template-rows: [b primary-begin] auto [primary-end
    secondary-begin] auto [secondary-end
    tertiary-begin] auto [tertiary-end e];
  grid-template-columns: [b L3lb L2lb L1b M3lb M3b M2b M1b S3b S2b S1b] 20% [L3le]
    5% [L3mb] 45% [M3le L2le] 5% [L3me L2rb M3rb] 5% [L3rb]
    20% [L3re L2re L1e M3re M3e M2e M1e S3e S2e S1e e];
}

main
{
  grid-row-start: b;
  grid-row-end: e;
  grid-column-start: b;
  grid-column-end: e;
}

nav .submenu
{
  display: none;
  background-color: var(--guideboard-submenu-background-color);
  color: var(--quideboard-submenu-text-color);
}

nav .submenu.active
{
  display: block;
}

.menu-button
{
  display: flex;
  /* flex-shrink: 0; */
  /* justify-content: space-between; */
  align-items: center;
  padding-top: var(--menu-button-minor-hem);
  padding-bottom: var(--menu-button-minor-hem);
  font-size: var(--menu-button-font-size);
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

nav .menu-button,
#contact-info .menu-button
{
  color: var(--guideboard-text-color);
  padding-left: var(--menu-button-major-hem);
  padding-right: var(--menu-button-major-hem);
}

nav .submenu .menu-button
{
  color: var(--guideboard-submenu-text-color);
}

.menu-button.icon:before,
.menu-button.sup:after
{
  flex-shrink: 0;
  width: var(--menu-button-icon-size);
  height: var(--menu-button-icon-size);
  margin-left: var(--menu-button-minor-hem);
  margin-right: var(--menu-button-minor-hem);
  background-size: var(--menu-button-icon-size);
  background-repeat: no-repeat;
  content: "";
}

.menu-button.icon .content
{
  flex-grow: 1;
}

.menu-button .content
{
  margin-left: var(--menu-button-minor-hem);
  margin-right: var(--menu-button-minor-hem);
}

.menu-button.icon .content
{
  margin-left: 0;
  margin-right: var(--menu-button-minor-hem);
}

.menu-button.sup .content
{
  margin-left: var(--menu-button-minor-hem);
  margin-right: 0;
}

.menu-button.icon.sup .content
{
  margin-left: 0;
  margin-right: 0;
}

.menu-button .value
{
  font-weight: bold;
}

#dial .menu-button#go-up-link
{
  display: none;
}

.detached #dial .menu-button#go-up-link
{
  display: flex;
}

#dial .menu-button#increase-font-trigger:before
{
  background-image: url('../img/icons/a_plus.svg');
}

#dial .menu-button#decrease-font-trigger:before
{
  background-image: url('../img/icons/a_minus.svg');
}

#dial .menu-button#toggle-contrast-trigger:before
{
  background-image: url('../img/icons/contrast.svg');
}

#dial .menu-button#reset-accessibility-trigger:before
{
  background-image: url('../img/icons/reset.svg');
}

#dial .menu-button#go-up-link:before
{
  background-image: url('../img/icons/arrow_up.svg');
}

#dial .menu-button#guideboard-trigger:before
{
  background-image: url('../img/icons/hamburger.svg');
}

nav .menu-button#home-link:before
{
  background-image: url('../img/icons/house.svg');
}

nav .menu-button#accessibility-info-link:before
{
  background-image: url('../img/icons/wheelchair.svg');
}

nav .menu-button#layouts-submenu:before
{
  background-image: url('../img/icons/plan.svg');
}

nav .menu-button#about-submenu:before
{
  background-image: url('../img/icons/i.svg');
}

nav .menu-button#favourites-submenu:before
{
  background-image: url('../img/icons/star.svg');
}

nav .menu-button#contact-link:before
{
  background-image: url('../img/icons/envelope.svg');
}

nav .menu-button.sup:after
{
  background-image: url('../img/icons/triangle_down.svg');
}

nav .menu-button.sup.active:after
{
  background-image: url('../img/icons/triangle_up.svg');
}

#contact-info .menu-button
{
  padding-top: var(--contact-info-item-major-hem);
  padding-bottom: var(--contact-info-item-major-hem);
  font-size: var(--contact-info-item-font-size);
  color: var(--info-text-color);
}

#contact-info .menu-button#address-link:before
{
  background-image: url('../img/icons/map.svg');
}

#contact-info .menu-button#email-action:before
{
  background-image: url('../img/icons/monkey_envelope.svg');
}

#contact-info .menu-button#phone-action:before
{
  background-image: url('../img/icons/phone.svg');
}

#contact-info .menu-button#fax-action:before
{
  background-image: url('../img/icons/fax.svg');
}
