:root
{
  /* layout */
  --header-height: 36vw;
  --banner-height: 18vw; /* 2*5 + 8 */
  --logo-size: 26vw; /* 2*(5 + 8) */
  --site-name-hem: 5vw;
  --site-name-font-size: 7vw;
  --site-description-font-size: 3vw;
  --body-background-size: 130%;

  --detached-offset: 40px;

  /* font */
  font-size: 12px;

  /* details */
  --menu-button-minor-hem: 8px;
  --menu-button-major-hem: var(--vertical-hem);
  --menu-button-font-size: 150%;
  --menu-button-icon-size: 24px;
}

#guideboard
{
  position: relative;
  background-color: var(--guideboard-background-color);
}

nav
{
  display: none;
  grid-column-start: scaffold-begin;
  grid-column-end: scaffold-end;
  flex-direction: column;
}

nav.active
{
  display: flex;
}

.detached nav
{
  position: fixed;
  top: var(--detached-offset);
  width: 100%;
  max-height: calc(100vh - var(--detached-offset));
  overflow: auto;
}

nav .menu-button
{
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

nav .menu-button
{
  border-bottom-color: var(--guideboard-button-separator-color);
}

nav .submenu .menu-button
{
  border-bottom-color: var(--guideboard-submenu-button-separator-color);
}
