:root
{
  /* layout */
  --max-width: 1400px;
  --vertical-hem: 5%;
  --cover-area-height: var(--banner-height);

  /* font */
  --font-family: liberation-sans-regular, 'Verdana', sans-serif;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  display: grid;
  grid-template-rows:
    [header-begin] var(--header-height) [header-end
    dashboard-begin] max-content [dashboard-end
    board-begin] max-content [board-end
    footer-begin] max-content [footer-end];
  grid-template-areas:
    "header"
    "cover"
    "dashboard"
    "board"
    "footer";
  background-size: var(--body-background-size);
  background-image: url('../img/layin-cover.jpeg');
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  background-color: var(--body-background-color);
}

.frame
{
  display: grid;
  grid-template-columns: [scaffold-begin] minmax(5%, auto)
    [liner-begin] minmax(min-content, var(--max-width)) [liner-end]
    minmax(5%, auto) [scaffold-end];
}

.tier
{
  grid-column-start: liner-begin;
  grid-column-end: liner-end;
}

header
{
  grid-area: header;
  display: grid;
  grid-template-rows:
    [banner-begin] var(--banner-height) [banner-end];
}

#banner
{
  grid-row-start: banner-begin;
  grid-row-end: banner-end;
  background-color: var(--banner-background-color);
}

#signboard
{
  display: grid;
  grid-template-rows: var(--site-name-hem) [logo-begin] var(--logo-size) [logo-end];
  grid-template-columns: var(--logo-size) var(--site-name-hem) [site-name-begin] max-content [site-name-end];
  color: var(--banner-text-color);
}

#logo
{
  grid-row-start: logo-begin;
  grid-row-end: logo-end;
}

#logo img
{
  height: var(--logo-size);
}

#site-name
{
  grid-row-start: logo-begin;
  grid-column-start: site-name-begin;
  grid-column-end: site-name-end;
  font-size: var(--site-name-font-size);
}

#site-description
{
  font-size: var(--site-description-font-size);
}

#dashboard
{
  grid-area: dashboard;
  position: sticky;
  top: 0;
}

#controls
{
  background-color: var(--controls-background-color);
  opacity: 70%;
}

#dial
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.menu-button
{
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding-top: var(--menu-button-minor-hem);
  padding-bottom: var(--menu-button-minor-hem);
  /* font-size: var(--menu-button-font-size); */
  /* font-style: normal; */
  /* text-decoration: none; */
  /* cursor: pointer; */
  user-select: none;
}

.menu-button.icon:before
{
  /* flex-shrink: 0; */
  width: var(--menu-button-icon-size);
  height: var(--menu-button-icon-size);
  margin-left: var(--menu-button-minor-hem);
  margin-right: var(--menu-button-minor-hem);
  background-size: var(--menu-button-icon-size);
  background-repeat: no-repeat;
  content: "";
}

#dial .menu-button#go-up-link
{
  display: none;
}

.detached #dial .menu-button#go-up-link
{
  display: flex;
}

#dial .menu-button#increase-font-trigger:before
{
  background-image: url('../img/icons/a_plus.svg');
}

#dial .menu-button#decrease-font-trigger:before
{
  background-image: url('../img/icons/a_minus.svg');
}

#dial .menu-button#toggle-contrast-trigger:before
{
  background-image: url('../img/icons/contrast.svg');
}

#dial .menu-button#reset-accessibility-trigger:before
{
  background-image: url('../img/icons/reset.svg');
}

#dial .menu-button#go-up-link:before
{
  background-image: url('../img/icons/arrow_up.svg');
}

#dial .menu-button#guideboard-trigger:before
{
  background-image: url('../img/icons/hamburger.svg');
}

#board
{
  grid-area: board;
}

footer
{
  grid-area: footer;
}
