<div id="liner" class="demo-layouts three-columns">
  <main>
    <article>
      <h1>Lorem ipsum</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis eros gravida, tincidunt arcu eget, convallis erat.
        Suspendisse at rutrum tellus. Donec at lorem dignissim, euismod tellus vel, pellentesque leo. Integer sit amet commodo nibh, vehicula congue eros.
        Mauris dapibus arcu eget efficitur malesuada. Suspendisse feugiat sem a tempus bibendum. Nulla tincidunt orci molestie interdum semper.
        Etiam volutpat est augue, eget laoreet tellus faucibus sollicitudin. Donec cursus ac arcu sit amet congue.
        Morbi mi metus, eleifend ut scelerisque vitae, pellentesque id ex.
      </p>
      <p>
        Curabitur auctor, ante id pulvinar dignissim, est nisi tempor massa, non consectetur mauris odio aliquam nibh.
        Duis ut fermentum dui, tincidunt bibendum enim. In pellentesque non elit vitae volutpat. Fusce commodo semper aliquet.
        Etiam volutpat efficitur sodales. Maecenas eleifend lobortis porttitor. Aliquam porta eros sed dictum vulputate.
        Cras nec nisl quis nunc vehicula pellentesque eu placerat lectus. Sed et porttitor tortor.
        Pellentesque semper commodo leo, vel viverra lorem molestie vitae. Phasellus vitae enim viverra, placerat mi at, accumsan nisl.
        Phasellus consectetur massa ligula, at cursus massa tincidunt in. Vestibulum ut est porttitor, facilisis nulla eu, semper lectus.
        Ut vel mi et leo tincidunt auctor.
      </p>
      <h2>Dolor sit amet</h2>
      <p>
        Praesent hendrerit, leo ac scelerisque pharetra, enim metus porta ipsum, eget eleifend leo sapien vel nulla.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum tristique quam nisi, ac convallis ex rutrum non.
        Ut non gravida nunc. Morbi nunc risus, gravida vitae nulla feugiat, lobortis varius ipsum. Sed rhoncus auctor lorem non convallis.
        Duis semper molestie massa, et ornare odio viverra quis. Vivamus lobortis, nibh eu tristique aliquam, justo odio accumsan orci, in pulvinar risus lorem imperdiet turpis.
        Praesent eros lacus, luctus ac gravida non, semper ac sem. Sed commodo malesuada quam eu congue. Suspendisse potenti.
        Fusce sit amet fermentum turpis, vitae varius nibh. Praesent rhoncus vel nunc quis egestas.
      </p>
      <p>
        Donec a odio bibendum libero porttitor ullamcorper ac eu lorem. Fusce molestie tristique malesuada. Donec auctor imperdiet accumsan.
        Fusce sed odio nec magna consequat volutpat. Sed luctus erat est, in fringilla arcu tempor in. Quisque at vestibulum purus.
        Pellentesque fermentum dui massa, non vehicula nulla hendrerit commodo. Praesent rutrum ultricies tempor.
        Quisque rutrum massa ligula, vitae cursus tortor viverra et.
      </p>
      <h3>Consectetur adipiscing elit</h3>
      <p>
        Curabitur imperdiet efficitur fermentum. Quisque urna ipsum, venenatis sit amet posuere id, vehicula facilisis lacus.
        Duis vestibulum, nisi eget mollis lacinia, erat ante porta libero, et luctus eros nunc vitae lorem. Maecenas faucibus rhoncus massa ac aliquam.
        Aenean ac felis quam. Nunc sagittis eleifend laoreet. Curabitur dignissim massa leo, vel finibus dui pharetra a.
        Nam vel quam finibus, cursus neque sed, dictum ante. Fusce non hendrerit ante.
      </p>
      <p>
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean fringilla quam porta imperdiet dapibus.
        Nullam sollicitudin nisl tempor, aliquet dolor et, cursus nulla.
        Nam vehicula, sapien sit amet condimentum fermentum, nulla dolor sodales arcu, eu dictum dolor dolor eu leo.
        Mauris et ex nulla. Phasellus vel dui luctus, aliquet nunc et, molestie dui.
        Curabitur sollicitudin, purus auctor condimentum sodales, magna nisl porta ex, vitae malesuada libero odio quis sem.
        Proin tincidunt turpis id quam pretium, facilisis cursus massa viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Etiam ex odio, tempor et mi eget, molestie congue urna. Praesent volutpat eget eros ut egestas. Vivamus quis placerat ex.
        Nunc fringilla tincidunt purus ut laoreet. Nulla et nunc magna. Etiam vitae massa eget magna mattis viverra. Nullam imperdiet massa vitae molestie iaculis.
      </p>
    </article>
  </main>
  <aside id="demo">
    <h4>Convallis erat</h4>
    <img src="{{assets_dir}}/img/panels/bubbles.svg">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis eros gravida, tincidunt arcu eget, convallis erat.
        Suspendisse at rutrum tellus. Donec at lorem dignissim, euismod tellus vel, pellentesque leo.
    </p>
    <h5>Donec quis eros gravida</h5>
    <img src="{{assets_dir}}/img/panels/stars.svg">
    <p>
      Integer sit amet commodo nibh, vehicula congue eros.
      Mauris dapibus arcu eget efficitur malesuada. Suspendisse feugiat sem a tempus bibendum. Nulla tincidunt orci molestie interdum semper.
      Etiam volutpat est augue, eget laoreet tellus faucibus sollicitudin.
    </p>
    <h6>Tincidunt arcu eget</h6>
    <img src="{{assets_dir}}/img/panels/flowers.svg">
    <p>
      Donec cursus ac arcu sit amet congue.
      Morbi mi metus, eleifend ut scelerisque vitae, pellentesque id ex.
    </p>
  </aside>
  <aside id="promo">
    <h4>Donec quis eros gravida</h4>
    <img src="{{assets_dir}}/img/panels/stars.svg">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis eros gravida, tincidunt arcu eget, convallis erat.
        Suspendisse at rutrum tellus. Donec at lorem dignissim, euismod tellus vel, pellentesque leo.
    </p>
    <h5>Tincidunt arcu eget</h5>
    <img src="{{assets_dir}}/img/panels/flowers.svg">
    <p>
      Integer sit amet commodo nibh, vehicula congue eros.
      Mauris dapibus arcu eget efficitur malesuada. Suspendisse feugiat sem a tempus bibendum. Nulla tincidunt orci molestie interdum semper.
      Etiam volutpat est augue, eget laoreet tellus faucibus sollicitudin.
    </p>
    <h6>Convallis erat</h6>
    <img src="{{assets_dir}}/img/panels/bubbles.svg">
    <p>
      Donec cursus ac arcu sit amet congue.
      Morbi mi metus, eleifend ut scelerisque vitae, pellentesque id ex.
    </p>
  </aside>
</div>
